Repository redis-applied-ai/redis-sre-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, vitest, package-json-sorting

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

vitest:
  name: Vitest
  entry: npm run test
  language: system
  pass_filenames: false

package-json-sorting:
  name: Sort package.json
  entry: npx sort-package-json
  language: system

fix: Address PR review feedback
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/observability/llm_metrics.py
  redis_sre_agent/tools/metrics/prometheus/provider.py
  redis_sre_agent/tools/models.py
  redis_sre_agent/tools/protocols.py
Due: none

refactor: Rename default_requires_instance to requires_redis_instance
  redis_sre_agent/tools/admin/redis_enterprise/provider.py
  redis_sre_agent/tools/cloud/redis_cloud/provider.py
  redis_sre_agent/tools/diagnostics/redis_command/provider.py
  redis_sre_agent/tools/knowledge/knowledge_base.py
  redis_sre_agent/tools/protocols.py
  redis_sre_agent/tools/utilities/provider.py
Due: none

Incorporate review feedback
  redis_sre_agent/api/app.py
  redis_sre_agent/cli/main.py
  redis_sre_agent/tools/manager.py
  redis_sre_agent/tools/models.py
  redis_sre_agent/tools/protocols.py
Due: none

Lint
  redis_sre_agent/tools/models.py
  redis_sre_agent/tools/protocols.py
Due: none

fix: Resolve runtime errors in agent execution
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/tools/manager.py
  redis_sre_agent/tools/models.py
  redis_sre_agent/tools/protocols.py
Due: none

refactor: Remove redundant try/except around opentelemetry imports
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/agent/runbook_generator.py
Due: none

refactor: Remove redundant try/except around opentelemetry imports
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/tools/knowledge/knowledge_base.py
  tests/unit/agent/test_temperature_removal.py
Due: none

fix: Correct mock patch paths for safety_fact_corrector tests
  redis_sre_agent/agent/langgraph_agent.py
  tests/unit/agent/test_fact_check_prompt_additional.py
  tests/unit/agent/test_rladmin_fact_check.py
  tests/unit/agent/test_rladmin_fact_check_more.py
Due: none

feat: Add MCP server configuration support
  redis_sre_agent/core/config.py
  redis_sre_agent/tools/manager.py
  redis_sre_agent/tools/mcp/__init__.py
  redis_sre_agent/tools/mcp/provider.py
  tests/unit/core/test_config.py
  tests/unit/tools/mcp/__init__.py
  tests/unit/tools/mcp/test_mcp_provider.py
Due: none

feat: Implement actual MCP client connection and tool invocation
  pyproject.toml
  redis_sre_agent/tools/mcp/provider.py
  tests/unit/tools/mcp_provider/__init__.py
  tests/unit/tools/mcp_provider/test_mcp_provider.py
  uv.lock
Due: none

feat: Add MCP server to expose agent capabilities to other agents
  redis_sre_agent/cli/main.py
  redis_sre_agent/cli/mcp.py
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/mcp_server/__init__.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

fix: Remove stdout output in stdio mode to fix MCP protocol
  redis_sre_agent/cli/mcp.py
Due: none

feat: Add get_thread and get_task_status MCP tools
  redis_sre_agent/mcp_server/server.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

docs: Improve MCP tool descriptions with clear workflow instructions
  redis_sre_agent/mcp_server/server.py
Due: none

docs: Update API port references for Docker Compose (8080 vs 8000)
  docs/concepts/core.md
  docs/how-to/api.md
  docs/how-to/cli.md
  docs/how-to/local-dev.md
  docs/how-to/scheduling-flows.md
  docs/operations/observability.md
  docs/quickstarts/local.md
  docs/reference/api.md
Due: prettier

feat: Add HTTP transport for remote MCP connections
  docker-compose.test.yml
  docker-compose.yml
  redis_sre_agent/cli/mcp.py
  redis_sre_agent/mcp_server/server.py
Due: none

feat: Add MCP server service to docker-compose
  docker-compose.yml
Due: none

feat: Add HTTPS support for MCP server with self-signed certs
  .gitignore
  docker-compose.yml
  monitoring/nginx/mcp-ssl.conf
  scripts/generate-mcp-certs.sh
Due: none

fix: Use Docker DNS resolver for nginx upstream resolution
  docker-compose.yml
  monitoring/nginx/mcp-ssl.conf
Due: none

fix: Improve Redis healthcheck and remove emojis from worker output
  docker-compose.yml
  redis_sre_agent/cli/worker.py
Due: none

fix: MCP triage now submits tasks to Docket for processing
  redis_sre_agent/mcp_server/server.py
Due: none

Add MCP server support; also, store redis version alongside docs
  Dockerfile
  redis_sre_agent/core/config.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/core/redis.py
  redis_sre_agent/mcp_server/server.py
  redis_sre_agent/pipelines/ingestion/deduplication.py
  redis_sre_agent/pipelines/ingestion/processor.py
  redis_sre_agent/pipelines/scraper/redis_docs.py
  redis_sre_agent/tools/knowledge/knowledge_base.py
  redis_sre_agent/tools/mcp/provider.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Add MCP server support; also, store redis version alongside docs
  redis_sre_agent/tools/mcp/provider.py
Due: none

Allow templating original MCP tool description; fix UI URLs
  redis_sre_agent/core/config.py
  ui/Dockerfile
  ui/package.json
  ui/src/pages/Dashboard.tsx
  ui/src/pages/Knowledge.tsx
  ui/src/pages/Schedules.tsx
  ui/src/pages/Settings.tsx
  ui/src/services/sreAgentApi.ts
  ui/ui-kit/package.json
Due: eslint, typescript, prettier, vitest, package-json-sorting

Refine thread/task data contract
  .gitignore
  config.yaml.example
  docs/how-to/configuration.md
  docs/reference/configuration.md
  redis_sre_agent/api/schemas.py
  redis_sre_agent/api/threads.py
  redis_sre_agent/api/websockets.py
  redis_sre_agent/cli/index.py
  redis_sre_agent/cli/main.py
  redis_sre_agent/cli/threads.py
  redis_sre_agent/core/config.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/keys.py
  redis_sre_agent/core/redis.py
  redis_sre_agent/core/task_events.py
  redis_sre_agent/core/threads.py
  redis_sre_agent/mcp_server/server.py
  redis_sre_agent/tools/manager.py
  redis_sre_agent/tools/mcp/provider.py
  tests/unit/api/test_threads_api.py
  tests/unit/api/test_websockets.py
  tests/unit/cli/test_cli_thread_sources.py
  tests/unit/core/test_config.py
  tests/unit/core/test_thread_management.py
  tests/unit/mcp_server/test_mcp_server.py
  tests/unit/tools/test_tool_manager_protocols.py
  ui/src/components/TaskMonitor.tsx
  ui/src/services/sreAgentApi.ts
Due: eslint, typescript, prettier, vitest

update ref docs
  docs/reference/api.md
  docs/reference/cli.md
Due: prettier

changes for quickstart
  .gitignore
  Dockerfile
  pyproject.toml
  scripts/docker-entrypoint.sh
  ui/Dockerfile
  ui/ui-kit/package.json
  ui/vite.config.ts
  uv.lock
Due: eslint, typescript, prettier, vitest, package-json-sorting

Add missing CLI command tests
  .gitignore
  pyproject.toml
  redis_sre_agent/cli/knowledge.py
  redis_sre_agent/cli/worker.py
  redis_sre_agent/core/knowledge_helpers.py
  tests/conftest.py
  tests/integration/tools/diagnostics/redis_command/test_redis_cli_integration.py
  tests/integration/tools/diagnostics/redis_command/test_redis_command_provider.py
  tests/unit/cli/test_cli_index.py
  tests/unit/cli/test_cli_knowledge.py
  tests/unit/cli/test_cli_mcp.py
  tests/unit/cli/test_cli_runbook.py
  tests/unit/cli/test_cli_schedules.py
  tests/unit/cli/test_cli_tasks.py
  tests/unit/cli/test_cli_worker.py
  ui/src/pages/Schedules.tsx
  ui/src/services/sreAgentApi.ts
  uv.lock
Due: eslint, typescript, prettier, vitest

Latest MCP changes
  config.yaml.example
  docker-compose.yml
  docs/how-to/api.md
  docs/how-to/configuration.md
  docs/reference/configuration.md
  redis_sre_agent/agent/__init__.py
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/agent/prompts.py
  redis_sre_agent/agent/router.py
  redis_sre_agent/api/schemas.py
  redis_sre_agent/api/tasks.py
  redis_sre_agent/api/threads.py
  redis_sre_agent/cli/query.py
  redis_sre_agent/core/config.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/progress.py
  redis_sre_agent/core/redis.py
  redis_sre_agent/core/tasks.py
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  redis_sre_agent/tools/manager.py
  redis_sre_agent/tools/mcp/provider.py
  tests/unit/agent/test_chat_agent.py
  tests/unit/agent/test_envelope_summarization.py
  tests/unit/agent/test_router.py
  tests/unit/api/test_tasks_api.py
  tests/unit/cli/test_cli_query.py
  tests/unit/core/test_config.py
  tests/unit/core/test_progress.py
  tests/unit/core/test_tasks.py
  tests/unit/mcp_server/test_mcp_server.py
  ui/e2e/schedules.spec.ts
  ui/e2e/support/cleanup.mjs
  ui/scripts/cleanup-e2e.mjs
Due: eslint, typescript, prettier, vitest

Cleanup
  redis_sre_agent/core/progress.py
  redis_sre_agent/mcp_server/server.py
Due: none

Add progress notifications to ChatAgent tool execution and cleanup
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/cli/query.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/progress.py
  redis_sre_agent/core/redis.py
  redis_sre_agent/tools/manager.py
  tests/unit/agent/test_chat_agent.py
  tests/unit/agent/test_envelope_summarization.py
  tests/unit/cli/test_cli_index.py
  tests/unit/cli/test_cli_knowledge.py
  tests/unit/cli/test_cli_mcp.py
  tests/unit/cli/test_cli_runbook.py
  tests/unit/cli/test_cli_schedules.py
  tests/unit/cli/test_cli_tasks.py
  tests/unit/cli/test_cli_worker.py
  tests/unit/core/test_progress.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Move imports to module level and expand test coverage
  redis_sre_agent/agent/chat_agent.py
  tests/unit/agent/test_chat_agent.py
  tests/unit/tools/mcp_provider/test_mcp_provider.py
Due: none

Update CLI reference docs
  docs/reference/cli.md
Due: prettier

Fix CLI help text formatting with newlines
  docs/reference/cli.md
  redis_sre_agent/cli/mcp.py
  redis_sre_agent/cli/query.py
Due: prettier

Replace --triage flag with --agent option for query command
  docs/reference/cli.md
  redis_sre_agent/cli/query.py
  tests/unit/cli/test_cli_query.py
Due: prettier

Fix CLI query tests to mock Redis and ThreadManager dependencies
  tests/unit/cli/test_cli_query.py
Due: none

Add proper server-side query support for instances
  redis_sre_agent/api/instances.py
  redis_sre_agent/core/instances.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/api/test_instances_api.py
  tests/unit/mcp_server/test_mcp_server.py
  ui/src/pages/Dashboard.tsx
  ui/src/pages/Instances.tsx
  ui/src/pages/Schedules.tsx
  ui/src/pages/Triage.tsx
  ui/src/services/sreAgentApi.ts
Due: eslint, typescript, prettier, vitest

lint
  redis_sre_agent/core/instances.py
  tests/unit/api/test_instances_api.py
Due: none

Add span categories and filtering for OpenTelemetry traces
  docs/operations/observability.md
  monitoring/grafana/provisioning/dashboards/json/agent-traces.json
  redis_sre_agent/api/app.py
  redis_sre_agent/api/threads.py
  redis_sre_agent/cli/worker.py
  redis_sre_agent/observability/tracing.py
  tests/unit/api/test_threads_list_message_count.py
  tests/unit/observability/__init__.py
  tests/unit/observability/test_tracing.py
Due: prettier

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
  vitest: any of: \.(ts|tsx)$
  package-json-sorting: any of: package\.json$
