Repository redis-applied-ai/redis-sre-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, vitest, package-json-sorting

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

vitest:
  name: Vitest
  entry: npm run test
  language: system
  pass_filenames: false

package-json-sorting:
  name: Sort package.json
  entry: npx sort-package-json
  language: system

report errors to LLM with ToolMessage
  redis_sre_agent/agent/knowledge_agent.py
  tests/unit/agent/test_knowledge_agent.py
  uv.lock
Due: none

Remove SET-based indices, use RedisVL index search for Q&A lookups
  redis_sre_agent/core/keys.py
  redis_sre_agent/core/qa.py
  tests/unit/core/test_qa.py
Due: none

Update uv.lock
  uv.lock
Due: none

Add integration test for complete ingest->search->Q&A with citations cycle
  tests/integration/core/test_qa_integration.py
Due: none

Fix lint errors
  tests/integration/core/test_qa_integration.py
Due: none

Format
  tests/integration/core/test_qa_integration.py
Due: none

Add config parameter to knowledge helpers for proper DI in tests
  redis_sre_agent/core/knowledge_helpers.py
  tests/integration/core/test_qa_integration.py
Due: none

Use single source of truth for version from pyproject.toml
  .env.airgap.example
  .env.example
  docker-compose.airgap.yml
  docker-compose.yml
  docs/operations/airgap-deployment.md
  redis_sre_agent/__init__.py
  redis_sre_agent/api/app.py
  redis_sre_agent/api/health.py
  redis_sre_agent/cli/main.py
  redis_sre_agent/core/config.py
  redis_sre_agent/core/redis.py
  scripts/docker-entrypoint.sh
  tests/unit/api/test_api.py
  tests/unit/api/test_app.py
  uv.lock
Due: prettier

Fix lint and regenerate reference docs
  docs/reference/cli.md
  redis_sre_agent/__init__.py
Due: prettier

Apply suggestions from code review
  redis_sre_agent/agent/knowledge_agent.py
Due: none

Bump version to 0.2.6
  pyproject.toml
  uv.lock
Due: none

Fix non-existent grafana/tempo:v2.10.0 image tag
  docker-compose.yml
Due: none

Fix AgentResponse JSON serialization in docket tasks
  docker-compose.yml
  monitoring/tempo/tempo-config.yaml
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/cli/query.py
  redis_sre_agent/core/citation_message.py
  redis_sre_agent/core/docket_tasks.py
  tests/unit/cli/test_cli_query.py
  tests/unit/core/test_citation_message.py
  tests/unit/core/test_redis.py
  tests/unit/core/test_tasks.py
  tests/unit/core/test_thread_management.py
  ui/src/pages/Triage.tsx
Due: eslint, typescript, prettier, vitest

Fix ruff formatting
  tests/unit/cli/test_cli_query.py
  tests/unit/core/test_thread_management.py
Due: none

Fix unused pytest import
  tests/unit/core/test_citation_message.py
Due: none

Fix unused result variables in tests
  tests/unit/core/test_thread_management.py
Due: none

Rename misleading test: truncates -> handles long hashes
  tests/unit/core/test_citation_message.py
Due: none

Remove backwards compatibility shims
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/pipelines/ingestion/deduplication.py
Due: none

Add python-ulid as explicit dependency
  pyproject.toml
Due: none

Fix airgap deployment issues and bump version to 0.2.7
  Dockerfile.airgap
  docs/operations/airgap-deployment.md
  pyproject.toml
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/agent/models.py
  redis_sre_agent/cli/pipeline.py
  redis_sre_agent/cli/tasks.py
  redis_sre_agent/cli/threads.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/keys.py
  redis_sre_agent/core/tasks.py
  redis_sre_agent/pipelines/orchestrator.py
  redis_sre_agent/pipelines/scraper/runbook_generator.py
  tests/unit/pipelines/scraper/test_runbook_generator.py
  uv.lock
Due: prettier

Fix formatting and regenerate reference docs
  docs/reference/cli.md
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/cli/tasks.py
  redis_sre_agent/core/docket_tasks.py
Due: prettier

Align airgap docs with defaults: use redis-docs path, clarify KB not included
  Dockerfile.airgap
  docs/operations/airgap-deployment.md
Due: prettier

Include KB in airgap image: clone redis-docs and scrape at build time
  Dockerfile.airgap
  docs/operations/airgap-deployment.md
Due: prettier

Fix airgap deployment and include KB in image
  Dockerfile.airgap
  docker-compose.yml
  docs/operations/airgap-deployment.md
  docs/reference/cli.md
  monitoring/tempo/tempo-config.yaml
  pyproject.toml
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/agent/models.py
  redis_sre_agent/cli/pipeline.py
  redis_sre_agent/cli/query.py
  redis_sre_agent/cli/tasks.py
  redis_sre_agent/cli/threads.py
  redis_sre_agent/core/citation_message.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/keys.py
  redis_sre_agent/core/tasks.py
  redis_sre_agent/pipelines/ingestion/deduplication.py
  redis_sre_agent/pipelines/orchestrator.py
  redis_sre_agent/pipelines/scraper/runbook_generator.py
  tests/unit/cli/test_cli_query.py
  tests/unit/core/test_citation_message.py
  tests/unit/core/test_redis.py
  tests/unit/core/test_tasks.py
  tests/unit/core/test_thread_management.py
  tests/unit/pipelines/scraper/test_runbook_generator.py
  ui/src/pages/Triage.tsx
  uv.lock
Due: eslint, typescript, prettier, vitest

duplicate runbook sources removed, setup docs updated
  docker-compose.yml
  docs/quickstarts/end-to-end-setup.md
  monitoring/tempo/tempo-config.yaml
  redis_sre_agent/pipelines/scraper/runbook_generator.py
Due: prettier

adjusted runbook tests to changes
  tests/unit/cli/test_cli.py
  tests/unit/pipelines/scraper/test_runbook_generator.py
Due: none

reformatted via ruff
  tests/unit/pipelines/scraper/test_runbook_generator.py
Due: none

Add redis_kb scraper to airgap build
  Dockerfile.airgap
  docs/operations/airgap-deployment.md
Due: prettier

Add redis_kb scraper to airgap build (#72)
  Dockerfile.airgap
  docs/operations/airgap-deployment.md
Due: prettier

forced initial tool call in knowledge agent
  redis_sre_agent/agent/knowledge_agent.py
Due: none

WIP on rebuilding citations around tool calls, to capture all agent activity
  pyproject.toml
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/helpers.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/agent/models.py
  redis_sre_agent/cli/tasks.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/tasks.py
  tests/unit/agent/test_envelope_summarization.py
  tests/unit/agent/test_extract_citations.py
  tests/unit/agent/test_query_tool_data.py
  tests/unit/api/test_instances_api.py
  uv.lock
Due: none

ruff
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/helpers.py
  redis_sre_agent/agent/models.py
  tests/unit/agent/test_extract_citations.py
  tests/unit/api/test_instances_api.py
Due: none

Add message-level decision traces for non-task interactions
  redis_sre_agent/cli/query.py
  redis_sre_agent/cli/threads.py
  redis_sre_agent/core/keys.py
  redis_sre_agent/core/threads.py
  tests/unit/core/test_message_traces.py
Due: none

Fix lint errors and update reference docs
  docs/reference/cli.md
  redis_sre_agent/agent/helpers.py
Due: prettier

Fix lint errors in test files
  tests/unit/agent/test_extract_citations.py
  tests/unit/agent/test_query_tool_data.py
  tests/unit/api/test_instances_api.py
Due: none

refactor: consolidate decision traces to message-only storage
  redis_sre_agent/agent/models.py
  redis_sre_agent/cli/tasks.py
  redis_sre_agent/cli/threads.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/keys.py
  redis_sre_agent/core/tasks.py
  redis_sre_agent/core/threads.py
  tests/unit/core/test_message_traces.py
Due: none

refactor: simplify to message-only traces, remove task trace command
  docs/reference/cli.md
  redis_sre_agent/cli/tasks.py
  redis_sre_agent/cli/threads.py
Due: prettier

refactor: remove deprecated ThreadUpdate class and add thread CLI tests
  redis_sre_agent/core/threads.py
  tests/unit/agent/test_progress_callback_validation.py
  tests/unit/api/test_websockets.py
  tests/unit/cli/test_cli_threads.py
  tests/unit/core/test_thread_management.py
Due: none

test: add ToolDefinition __str__ and __repr__ tests for 100% coverage
  tests/unit/tools/test_manager.py
Due: none

fix: make expand_evidence tool available from start of conversation
  redis_sre_agent/agent/chat_agent.py
  tests/unit/agent/test_chat_agent.py
  tests/unit/agent/test_query_tool_data.py
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
  vitest: any of: \.(ts|tsx)$
  package-json-sorting: any of: package\.json$
