Repository redis-applied-ai/redis-sre-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, vitest, package-json-sorting

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

vitest:
  name: Vitest
  entry: npm run test
  language: system
  pass_filenames: false

package-json-sorting:
  name: Sort package.json
  entry: npx sort-package-json
  language: system

Cancel all active thread tasks on stop
  docs/reference/api.md
  redis_sre_agent/api/tasks.py
  redis_sre_agent/api/threads.py
  tests/unit/api/test_threads_api.py
  ui/src/services/__tests__/sreAgentApi.test.ts
  ui/src/services/sreAgentApi.ts
Due: eslint, typescript, prettier, vitest

Prevent cancelled tasks completing
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/tasks.py
  tests/unit/core/test_docket_resume.py
  tests/unit/core/test_task_manager.py
  tests/unit/core/test_tasks.py
Due: none

Ignore private KB exports
  .gitignore
Due: none

Fix CRDB detection from projected BDB fields
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/agent/prompts.py
  redis_sre_agent/tools/admin/redis_enterprise/provider.py
  tests/unit/agent/test_chat_agent.py
  tests/unit/tools/admin/redis_enterprise/test_redis_enterprise_admin_provider.py
Due: none

Populate stable source_document_path for scraped docs to enable replace-on-change
  redis_sre_agent/pipelines/ingestion/_processor_impl.py
  redis_sre_agent/pipelines/scraper/base.py
  redis_sre_agent/pipelines/scraper/redis_cloud_api.py
  redis_sre_agent/pipelines/scraper/redis_docs_local.py
  tests/unit/pipelines/ingestion/test_ingestion_processor.py
  tests/unit/pipelines/ingestion/test_ingestion_processor_additional.py
  tests/unit/pipelines/ingestion/test_source_path_collision.py
  tests/unit/pipelines/scraper/test_cloud_api_source_path.py
  tests/unit/pipelines/scraper/test_derive_stable_path.py
  tests/unit/pipelines/scraper/test_redis_docs_local.py
Due: none

Reuse ScrapedDocument.from_dict for collision-scan identity instead of a parallel helper
  redis_sre_agent/pipelines/ingestion/_processor_impl.py
Due: none

Never let an empty source_document_scope authorize the stale-delete sweep
  redis_sre_agent/pipelines/ingestion/_processor_impl.py
  tests/unit/pipelines/ingestion/test_ingestion_processor.py
  tests/unit/pipelines/ingestion/test_ingestion_processor_additional.py
  tests/unit/pipelines/ingestion/test_stale_sweep_empty_scope.py
Due: none

Apply ruff format to collision test
  tests/unit/pipelines/ingestion/test_source_path_collision.py
Due: none

Normalize source_document_path with strip in collision guard to match tracking
  redis_sre_agent/pipelines/ingestion/_processor_impl.py
  tests/unit/pipelines/ingestion/test_source_path_collision.py
Due: none

Track scraped documents by stable source_document_path to fix orphaned chunks on re-ingest (#212)
  redis_sre_agent/pipelines/ingestion/_processor_impl.py
  redis_sre_agent/pipelines/scraper/base.py
  redis_sre_agent/pipelines/scraper/redis_cloud_api.py
  redis_sre_agent/pipelines/scraper/redis_docs_local.py
  tests/unit/pipelines/ingestion/test_ingestion_processor.py
  tests/unit/pipelines/ingestion/test_ingestion_processor_additional.py
  tests/unit/pipelines/ingestion/test_source_path_collision.py
  tests/unit/pipelines/ingestion/test_stale_sweep_empty_scope.py
  tests/unit/pipelines/scraper/test_cloud_api_source_path.py
  tests/unit/pipelines/scraper/test_derive_stable_path.py
  tests/unit/pipelines/scraper/test_redis_docs_local.py
Due: none

Prepare v0.6.0 release
  pyproject.toml
  uv.lock
Due: none

Fix UI test harness for release QA
  ui/src/services/__tests__/url-construction.test.ts
  ui/vitest.config.ts
Due: eslint, typescript, prettier, vitest

Tighten feedback release QA
  redis_sre_agent/cli/feedback.py
  tests/api/test_feedback_route.py
  tests/unit/cli/test_feedback_cli.py
  tests/unit/core/test_feedback.py
  tests/unit/mcp_server/test_feedback_tool.py
  ui/src/pages/Triage.feedback.test.tsx
  ui/src/pages/Triage.tsx
Due: eslint, typescript, prettier, vitest

Add semantic answer cache (LangCache) for the knowledge agent
  docs/design/semantic-cache-knowledge-agent.md
  redis_sre_agent/core/config.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/keys.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/core/semantic_cache/__init__.py
  redis_sre_agent/core/semantic_cache/cacheability.py
  redis_sre_agent/core/semantic_cache/client.py
  redis_sre_agent/core/semantic_cache/extraction.py
  redis_sre_agent/core/semantic_cache/provenance.py
  redis_sre_agent/core/semantic_cache/rewrite.py
  redis_sre_agent/core/semantic_cache/service.py
  redis_sre_agent/pipelines/ingestion/_processor_impl.py
  redis_sre_agent/pipelines/ingestion/pipeline_workflow_mixin.py
  tests/unit/core/semantic_cache/__init__.py
  tests/unit/core/semantic_cache/test_cacheability.py
  tests/unit/core/semantic_cache/test_client.py
  tests/unit/core/semantic_cache/test_config_and_keys.py
  tests/unit/core/semantic_cache/test_extraction.py
  tests/unit/core/semantic_cache/test_provenance.py
  tests/unit/core/semantic_cache/test_request_helpers.py
  tests/unit/core/semantic_cache/test_rewrite.py
  tests/unit/core/semantic_cache/test_service.py
  tests/unit/core/test_search_source_document_path.py
Due: prettier

Fix semantic-cache version scoping, path-hash keying, and entity post-filter from review
  redis_sre_agent/core/semantic_cache/service.py
  tests/unit/core/semantic_cache/test_service.py
Due: none

Align cache_meta provenance path hashes per-result (review)
  redis_sre_agent/core/semantic_cache/service.py
  tests/unit/core/semantic_cache/test_service.py
Due: none

Roll back cache entry when provenance recording fails (review)
  redis_sre_agent/core/semantic_cache/service.py
  tests/unit/core/semantic_cache/test_service.py
Due: none

Keep reverse-index links for failed deletes during invalidation (review)
  redis_sre_agent/core/semantic_cache/provenance.py
  redis_sre_agent/core/semantic_cache/service.py
  tests/unit/core/semantic_cache/test_service.py
Due: none

Invalidate cache in finally so partial ingestion still evicts stale entries (review)
  redis_sre_agent/pipelines/ingestion/_processor_impl.py
Due: none

Invalidate cache in finally for source-document ingestion path too (review)
  redis_sre_agent/pipelines/ingestion/pipeline_workflow_mixin.py
Due: none

Preserve canonical key on lookup cleanup/errors so store reuses it (review)
  redis_sre_agent/core/semantic_cache/service.py
  tests/unit/core/semantic_cache/test_request_helpers.py
  tests/unit/core/semantic_cache/test_service.py
Due: none

Handle multi-path shared entries in invalidation to avoid reverse-index orphans (review)
  redis_sre_agent/core/semantic_cache/service.py
  tests/unit/core/semantic_cache/test_service.py
Due: none

Defer multi-ticket queries: neither serve nor store them (review)
  redis_sre_agent/core/semantic_cache/extraction.py
  redis_sre_agent/core/semantic_cache/service.py
  tests/unit/core/semantic_cache/test_extraction.py
  tests/unit/core/semantic_cache/test_service.py
Due: none

Added Support Package Upload feature
  redis_sre_agent/api/middleware.py
  redis_sre_agent/api/support_package.py
  redis_sre_agent/tools/support_package/manager.py
  redis_sre_agent/tools/support_package/storage/local.py
  redis_sre_agent/tools/support_package/storage/protocols.py
  redis_sre_agent/tools/support_package/storage/s3.py
  ui/src/App.tsx
  ui/src/hooks/useApp.ts
  ui/src/pages/SupportPackages.tsx
  ui/src/services/sreAgentApi.ts
Due: eslint, typescript, prettier, vitest

Remove runtime agent integration
  Dockerfile.rar
  config.runtime.yaml
  config.yaml.example
  docs/how-to/configuration.md
  docs/how-to/source-document-features.md
  docs/reference/configuration.md
  redis_sre_agent/core/config.py
  redis_sre_agent/evaluation/agent_only.py
  redis_sre_agent/skills/__init__.py
  redis_sre_agent/skills/afs_workspace_backend.py
  redis_sre_agent/skills/backend.py
  runtime_agent.py
  tests/unit/core/test_config.py
  tests/unit/skills/test_afs_workspace_backend.py
  tests/unit/skills/test_backend.py
  tests/unit/test_runtime_agent.py
Due: prettier

Fixed package ID resolution and volume mount shared
  docker-compose.yml
  redis_sre_agent/api/tasks.py
  redis_sre_agent/tools/manager.py
  ui/src/pages/Triage.tsx
  ui/src/services/sreAgentApi.ts
Due: eslint, typescript, prettier, vitest

support_packages folder ownership
  Dockerfile
Due: none

fixed upload popup
  ui/src/pages/SupportPackages.tsx
Due: eslint, typescript, prettier, vitest

Validate knowledge pack source coverage
  redis_sre_agent/knowledge_pack/builder.py
  redis_sre_agent/knowledge_pack/models.py
  tests/integration/test_knowledge_pack_integration.py
  tests/unit/knowledge_pack/test_builder.py
Due: none

Add semantic answer cache (LangCache) for the knowledge agent (#213)
  docs/design/semantic-cache-knowledge-agent.md
  redis_sre_agent/core/config.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/keys.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/core/semantic_cache/__init__.py
  redis_sre_agent/core/semantic_cache/cacheability.py
  redis_sre_agent/core/semantic_cache/client.py
  redis_sre_agent/core/semantic_cache/extraction.py
  redis_sre_agent/core/semantic_cache/provenance.py
  redis_sre_agent/core/semantic_cache/rewrite.py
  redis_sre_agent/core/semantic_cache/service.py
  redis_sre_agent/pipelines/ingestion/_processor_impl.py
  redis_sre_agent/pipelines/ingestion/pipeline_workflow_mixin.py
  tests/unit/core/semantic_cache/__init__.py
  tests/unit/core/semantic_cache/test_cacheability.py
  tests/unit/core/semantic_cache/test_client.py
  tests/unit/core/semantic_cache/test_config_and_keys.py
  tests/unit/core/semantic_cache/test_extraction.py
  tests/unit/core/semantic_cache/test_provenance.py
  tests/unit/core/semantic_cache/test_request_helpers.py
  tests/unit/core/semantic_cache/test_rewrite.py
  tests/unit/core/semantic_cache/test_service.py
  tests/unit/core/test_search_source_document_path.py
Due: prettier

doc: refactored semantic cache doc for better ux
  docs/design/semantic-cache-knowledge-agent.md
  docs/how-to/agent-memory.md
  docs/how-to/semantic-cache.md
Due: prettier

doc: refactored semantic cache doc for better ux (#217)
  docs/design/semantic-cache-knowledge-agent.md
  docs/how-to/agent-memory.md
  docs/how-to/semantic-cache.md
Due: prettier

Add provider-neutral OIDC SSO authentication across UI, REST/WS, and CLI
  docker-compose.integration.yml
  docs/how-to/authentication-sso.md
  docs/index.md
  docs/quickstarts/local.md
  mkdocs.yml
  pyproject.toml
  redis_sre_agent/api/app.py
  redis_sre_agent/api/auth.py
  redis_sre_agent/api/health.py
  redis_sre_agent/api/websockets.py
  redis_sre_agent/cli/auth.py
  redis_sre_agent/cli/main.py
  redis_sre_agent/core/auth.py
  redis_sre_agent/core/cli_mcp_parity.py
  redis_sre_agent/core/config.py
  tests/conftest.py
  tests/integration/dex/dex-test-config.yaml
  tests/integration/test_auth_portability.py
  tests/unit/api/test_auth_api.py
  tests/unit/api/test_auth_health.py
  tests/unit/api/test_auth_websocket.py
  tests/unit/cli/test_auth_cli.py
  tests/unit/core/test_auth_config.py
  tests/unit/core/test_auth_structural.py
  tests/unit/core/test_auth_validator.py
  tests/unit/core/test_cli_mcp_parity.py
  tests/unit/core/test_cluster_helpers.py
  ui/nginx.conf
  ui/package-lock.json
  ui/package.json
  ui/src/App.tsx
  ui/src/auth/AuthSync.tsx
  ui/src/auth/authFetch.ts
  ui/src/auth/oidcConfig.ts
  ui/src/auth/tokenStore.ts
  ui/src/components/TaskMonitor.tsx
  ui/src/hooks/useApp.ts
  ui/src/main.tsx
  uv.lock
Due: eslint, typescript, prettier, vitest, package-json-sorting

Regenerate reference docs for auth endpoints and CLI commands
  docs/reference/api.md
  docs/reference/cli.md
Due: prettier

Address review: reliable UI bearer attach, WS 4401 handling, stale-discovery fallback
  redis_sre_agent/core/auth.py
  tests/unit/core/test_auth_validator.py
  ui/src/auth/authFetch.ts
  ui/src/components/TaskMonitor.tsx
Due: eslint, typescript, prettier, vitest

Address review: request API audience via scope (not resource param), fix query-token WS handshake
  docs/how-to/authentication-sso.md
  redis_sre_agent/api/websockets.py
  tests/unit/api/test_auth_websocket.py
  ui/src/auth/oidcConfig.ts
Due: eslint, typescript, prettier, vitest

Address review: fail-closed 503 on /auth/* discovery errors, WS honors VITE_API_BASE_URL
  redis_sre_agent/api/auth.py
  tests/unit/api/test_auth_api.py
  ui/src/components/TaskMonitor.tsx
Due: eslint, typescript, prettier, vitest

Address review: ensure WS URL keeps /api/v1 prefix for host-only VITE_API_BASE_URL
  ui/src/components/TaskMonitor.tsx
Due: eslint, typescript, prettier, vitest

Address review: bound WebSocket reconnect attempts so auth (1006) failures stop looping
  ui/src/components/TaskMonitor.tsx
Due: eslint, typescript, prettier, vitest

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
  vitest: any of: \.(ts|tsx)$
  package-json-sorting: any of: package\.json$
