Repository redis-applied-ai/redis-sre-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, vitest, package-json-sorting

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

vitest:
  name: Vitest
  entry: npm run test
  language: system
  pass_filenames: false

package-json-sorting:
  name: Sort package.json
  entry: npx sort-package-json
  language: system

Fix dashboard URL construction when API base is relative (#185)
  ui/src/services/sreAgentApi.ts
Due: eslint, typescript, prettier, vitest

Bump version to 0.5.2
  pyproject.toml
  uv.lock
Due: none

Add user feedback on agent responses across HTTP, MCP, CLI, and UI (#183)
  AGENTS.md
  README.md
  docs/how-to/api.md
  docs/how-to/cli.md
  docs/how-to/feedback.md
  docs/reference/api.md
  docs/reference/cli.md
  redis_sre_agent/api/app.py
  redis_sre_agent/api/feedback.py
  redis_sre_agent/api/schemas.py
  redis_sre_agent/api/tasks.py
  redis_sre_agent/cli/feedback.py
  redis_sre_agent/cli/main.py
  redis_sre_agent/core/cli_mcp_parity.py
  redis_sre_agent/core/feedback.py
  redis_sre_agent/core/keys.py
  redis_sre_agent/mcp_server/server.py
  redis_sre_agent/observability/tracing.py
  tests/api/__init__.py
  tests/api/test_feedback_route.py
  tests/contracts/__init__.py
  tests/contracts/test_feedback_read_surfaces.py
  tests/contracts/test_feedback_surfaces.py
  tests/unit/cli/test_feedback_cli.py
  tests/unit/core/test_cli_mcp_parity.py
  tests/unit/core/test_feedback.py
  tests/unit/core/test_keys.py
  tests/unit/mcp_server/test_feedback_tool.py
  ui/e2e/feedback.spec.ts
  ui/package-lock.json
  ui/src/pages/Triage.tsx
  ui/src/services/sreAgentApi.ts
Due: eslint, typescript, prettier, vitest

Remove runbook generation surfaces
  docs/how-to/cli.md
  docs/how-to/pipelines.md
  docs/operations/observability.md
  docs/quickstarts/vm-deployment.md
  docs/reference/cli.md
  redis_sre_agent/agent/runbook_generator.py
  redis_sre_agent/cli/main.py
  redis_sre_agent/cli/pipeline.py
  redis_sre_agent/cli/runbook.py
  redis_sre_agent/core/cli_mcp_parity.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/pipeline_execution_helpers.py
  redis_sre_agent/core/runbook_execution_helpers.py
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  redis_sre_agent/pipelines/__init__.py
  redis_sre_agent/pipelines/orchestrator.py
  redis_sre_agent/pipelines/scraper/__init__.py
  redis_sre_agent/pipelines/scraper/redis_docs.py
  redis_sre_agent/pipelines/scraper/runbook_generator.py
  scripts/generate_runbooks.py
  tests/unit/agent/test_temperature_removal.py
  tests/unit/cli/test_cli.py
  tests/unit/cli/test_cli_runbook.py
  tests/unit/cli/test_pipeline_cli_additional.py
  tests/unit/core/test_pipeline_execution_helpers.py
  tests/unit/core/test_runbook_execution_helpers.py
  tests/unit/core/test_tasks.py
  tests/unit/mcp_server/test_mcp_server.py
  tests/unit/pipelines/orchestrator/test_pipeline_orchestrator.py
  tests/unit/pipelines/scraper/test_runbook_generator.py
Due: prettier

Complete chat turns after max iterations
  evals/goldens/prompt/chat-max-iteration-terminal-response/assertions.json
  evals/goldens/prompt/chat-max-iteration-terminal-response/expected.md
  evals/goldens/prompt/chat-max-iteration-terminal-response/metadata.yaml
  evals/scenarios/prompt/chat-max-iteration-terminal-response/fixtures/tools/cluster-health.json
  evals/scenarios/prompt/chat-max-iteration-terminal-response/scenario.yaml
  redis_sre_agent/agent/chat_agent.py
  tests/unit/agent/test_chat_agent.py
  tests/unit/evaluation/test_prompt_scenarios.py
Due: prettier

Route explicit deep triage before chat
  redis_sre_agent/agent/router.py
  tests/integration/test_target_discovery_flow.py
  tests/unit/agent/test_router.py
Due: none

Use nano router for zero-scope triage
  redis_sre_agent/agent/router.py
  tests/integration/test_target_discovery_flow.py
  tests/unit/agent/test_router.py
Due: none

Cap per-turn LLM token usage
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/core/config.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/llm_request_guard.py
  redis_sre_agent/core/llm_token_usage.py
  redis_sre_agent/observability/llm_metrics.py
  tests/unit/core/test_config.py
  tests/unit/core/test_llm_request_guard.py
  tests/unit/core/test_llm_token_usage.py
Due: none

Fan out multi-target deep triage
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/targets/redis_catalog.py
  tests/unit/core/test_targets.py
  tests/unit/core/test_tasks.py
Due: none

Harden RediSearch query escaping
  redis_sre_agent/core/clusters.py
  redis_sre_agent/core/instances.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/core/redisearch.py
  tests/integration/core/test_redisearch_symbol_query_filters.py
  tests/unit/core/test_cluster_storage.py
  tests/unit/core/test_instance_manager.py
  tests/unit/core/test_knowledge_helpers.py
  tests/unit/core/test_redisearch.py
Due: none

Add token limit eval coverage
  tests/unit/evaluation/test_runtime.py
Due: none

Record failed approval resumes
  redis_sre_agent/core/docket_tasks.py
  tests/unit/core/test_docket_resume.py
Due: none

Handle over-limit Redis target sets
  evals/goldens/prompt/deep-triage-over-limit-targets/assertions.json
  evals/goldens/prompt/deep-triage-over-limit-targets/expected.md
  evals/goldens/prompt/deep-triage-over-limit-targets/metadata.yaml
  evals/goldens/prompt/target-discovery-multi-target-comparison/assertions.json
  evals/goldens/prompt/target-discovery-multi-target-comparison/expected.md
  evals/goldens/prompt/target-discovery-over-limit-comparison/assertions.json
  evals/goldens/prompt/target-discovery-over-limit-comparison/expected.md
  evals/goldens/prompt/target-discovery-over-limit-comparison/metadata.yaml
  evals/scenarios/prompt/deep-triage-over-limit-targets/scenario.yaml
  evals/scenarios/prompt/target-discovery-multi-target-comparison/fixtures/tools/info-cart-memory.json
  evals/scenarios/prompt/target-discovery-multi-target-comparison/scenario.yaml
  evals/scenarios/prompt/target-discovery-over-limit-comparison/scenario.yaml
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/evaluation/runtime.py
  redis_sre_agent/targets/contracts.py
  redis_sre_agent/targets/redis_catalog.py
  redis_sre_agent/tools/target_discovery/provider.py
  tests/unit/agent/test_chat_agent.py
  tests/unit/core/test_targets.py
  tests/unit/core/test_tasks.py
  tests/unit/evaluation/test_prompt_scenarios.py
  tests/unit/tools/test_target_discovery_provider.py
Due: prettier

Gate target discovery with live evals
  .github/workflows/test.yml
  Makefile
  evals/baseline_policy.yaml
  evals/goldens/prompt/target-discovery-multi-target-comparison/assertions.json
  evals/scenarios/prompt/target-discovery-multi-target-comparison/scenario.yaml
  evals/suites/pr-target-discovery-live.yaml
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/evaluation/live_suite/__init__.py
  redis_sre_agent/evaluation/runtime.py
  scripts/run_live_eval_suite.py
  tests/unit/cli/test_cli_eval.py
  tests/unit/evaluation/test_live_suite.py
  tests/unit/evaluation/test_prompt_scenarios.py
  tests/unit/evaluation/test_runtime.py
Due: prettier

Use testcontainers for PR live eval Redis
  Makefile
  scripts/run_live_eval_suite.py
  tests/unit/cli/test_cli_eval.py
Due: none

Isolate live eval Redis state
  evals/scenarios/prompt/target-discovery-multi-target-comparison/fixtures/tools/info-cart-memory.json
  evals/scenarios/prompt/target-discovery-multi-target-comparison/fixtures/tools/info-cart-server.json
  evals/scenarios/prompt/target-discovery-multi-target-comparison/fixtures/tools/info-checkout-memory.json
  evals/scenarios/prompt/target-discovery-multi-target-comparison/fixtures/tools/info-checkout-server.json
  evals/scenarios/prompt/target-discovery-multi-target-comparison/fixtures/tools/info-session-memory.json
  evals/scenarios/prompt/target-discovery-multi-target-comparison/fixtures/tools/info-session-server.json
  evals/scenarios/prompt/target-discovery-multi-target-comparison/scenario.yaml
  redis_sre_agent/evaluation/live_suite/__init__.py
  tests/unit/evaluation/test_live_suite.py
Due: prettier

Cancel failed triage fanout siblings
  redis_sre_agent/core/docket_tasks.py
  tests/unit/core/test_tasks.py
Due: none

Stop live eval Redis container on setup failure
  redis_sre_agent/evaluation/live_suite/__init__.py
  tests/unit/evaluation/test_live_suite.py
Due: none

Preserve over-limit user messages
  redis_sre_agent/core/docket_tasks.py
  tests/unit/core/test_tasks.py
Due: none

Stabilize knowledge eval synthesis
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/evaluation/agent_only.py
  tests/unit/agent/test_knowledge_agent.py
  tests/unit/evaluation/test_prompt_scenarios.py
Due: none

Share terminal response synthesis
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/agent/terminal_synthesis.py
  redis_sre_agent/core/docket_tasks.py
Due: none

Account for reported zero token totals
  redis_sre_agent/core/llm_token_usage.py
  tests/unit/core/test_llm_token_usage.py
Due: none

Document token budget behavior
  .env.example
  docs/how-to/api.md
  docs/how-to/cli.md
  docs/how-to/configuration.md
  docs/operations/gotchas.md
  docs/reference/configuration.md
Due: prettier

Propagate terminal token limit failures
  redis_sre_agent/agent/terminal_synthesis.py
  tests/unit/agent/test_terminal_synthesis.py
Due: none

Propagate knowledge token limit failures
  redis_sre_agent/agent/knowledge_agent.py
  tests/unit/agent/test_knowledge_agent.py
Due: none

Record knowledge token limit task errors
  redis_sre_agent/core/docket_tasks.py
  tests/unit/core/test_tasks.py
Due: none

Enforce LLM context request budgets
  .env.example
  docs/how-to/configuration.md
  docs/operations/gotchas.md
  docs/reference/configuration.md
  pyproject.toml
  redis_sre_agent/core/config.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/llm_request_guard.py
  redis_sre_agent/core/llm_token_usage.py
  tests/unit/agent/test_knowledge_agent.py
  tests/unit/agent/test_terminal_synthesis.py
  tests/unit/core/test_config.py
  tests/unit/core/test_docket_resume.py
  tests/unit/core/test_llm_request_guard.py
  tests/unit/core/test_llm_token_usage.py
  tests/unit/core/test_tasks.py
  tests/unit/evaluation/test_runtime.py
  uv.lock
Due: prettier

Force MCP deep triage routing
  redis_sre_agent/mcp_server/server.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Remove unused skill example
  skills/redis-maintenance-triage/SKILL.md
  skills/redis-maintenance-triage/agents/openai.yaml
  skills/redis-maintenance-triage/assets/example-query.txt
  skills/redis-maintenance-triage/references/maintenance-checklist.md
  skills/redis-maintenance-triage/scripts/collect_maintenance_context.sh
Due: prettier

Remove retired FAQ ingestion source
  .github/workflows/publish-docker.yml
  redis_sre_agent/cli/pipeline.py
  redis_sre_agent/pipelines/orchestrator.py
  redis_sre_agent/pipelines/scraper/redis_kb.py
  specs/knowledge-pack-release-spec.md
  tests/integration/test_knowledge_pack_integration.py
  tests/unit/cli/test_pipeline_cli_additional.py
  tests/unit/pipelines/orchestrator/test_pipeline_orchestrator.py
  tests/unit/pipelines/scraper/test_redis_kb_scraper.py
Due: prettier

Remove retired FAQ ingestion source
  .github/workflows/publish-docker.yml
  redis_sre_agent/cli/pipeline.py
  redis_sre_agent/pipelines/orchestrator.py
  redis_sre_agent/pipelines/scraper/redis_kb.py
  specs/knowledge-pack-release-spec.md
  tests/integration/test_knowledge_pack_integration.py
  tests/unit/cli/test_cli.py
  tests/unit/cli/test_pipeline_cli_additional.py
  tests/unit/pipelines/orchestrator/test_pipeline_orchestrator.py
  tests/unit/pipelines/scraper/test_redis_kb_scraper.py
Due: prettier

Remove retired scraper references
  Dockerfile.airgap
  docs/how-to/pipelines.md
  scripts/setup-knowledge.sh
Due: prettier

Improve SRE UI workflows
  .gitignore
  redis_sre_agent/api/knowledge.py
  tests/unit/api/test_knowledge_document_chunks_route.py
  ui/e2e/ui-enhancements.spec.ts
  ui/package-lock.json
  ui/package.json
  ui/src/App.tsx
  ui/src/components/MarkdownRenderer.test.tsx
  ui/src/components/MarkdownRenderer.tsx
  ui/src/components/TaskMonitor.tsx
  ui/src/hooks/useApp.ts
  ui/src/index.css
  ui/src/pages/Clusters.tsx
  ui/src/pages/Dashboard.tsx
  ui/src/pages/Knowledge.tsx
  ui/src/pages/KnowledgeDocumentChunks.tsx
  ui/src/pages/Schedules.tsx
  ui/src/pages/Settings.tsx
  ui/src/pages/Triage.tsx
  ui/src/services/__tests__/sreAgentApi.test.ts
  ui/src/services/__tests__/url-construction.test.ts
  ui/src/services/sreAgentApi.ts
  ui/src/services/sreAgentApi.ui-enhancements.test.ts
  ui/src/test/setup.ts
  ui/vite.config.ts
  ui/vitest.config.ts
Due: eslint, typescript, prettier, vitest, package-json-sorting

Refine chat session UX
  ui/e2e/ui-enhancements.spec.ts
  ui/index.html
  ui/src/pages/Triage.tsx
Due: eslint, typescript, prettier, vitest

Improve chat evidence display
  redis_sre_agent/agent/chat_agent.py
  tests/unit/agent/test_chat_agent.py
  ui/e2e/ui-enhancements.spec.ts
  ui/src/components/TaskMonitor.tsx
  ui/src/components/ToolCallsAccordion.tsx
  ui/src/index.css
  ui/src/pages/Knowledge.tsx
  ui/src/pages/KnowledgeDocumentChunks.tsx
  ui/src/pages/Triage.tsx
  ui/src/services/sreAgentApi.ts
  ui/src/services/sreAgentApi.ui-enhancements.test.ts
Due: eslint, typescript, prettier, vitest

Update API reference
  docs/reference/api.md
Due: prettier

Keep chat evidence structured
  redis_sre_agent/api/schemas.py
  redis_sre_agent/api/tasks.py
  redis_sre_agent/api/threads.py
  redis_sre_agent/cli/query.py
  redis_sre_agent/core/citation_message.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/tasks.py
  tests/unit/api/test_tasks_api.py
  tests/unit/api/test_threads_api.py
  tests/unit/core/test_citation_message.py
  tests/unit/core/test_thread_management.py
  ui/e2e/ui-enhancements.spec.ts
  ui/src/components/TaskMonitor.tsx
  ui/src/pages/Triage.tsx
  ui/src/services/sreAgentApi.ts
  ui/src/services/sreAgentApi.ui-enhancements.test.ts
Due: eslint, typescript, prettier, vitest

Preserve local Redis workflow updates
  .gitignore
  docker-compose.enterprise.yml
  docker-compose.yml
  redis_sre_agent/evaluation/live_suite/__init__.py
  ui/src/services/sreAgentApi.ts
Due: eslint, typescript, prettier, vitest

Fix manual QA findings
  .env.example
  docs/concepts/core.md
  docs/how-to/api.md
  docs/how-to/cli.md
  docs/how-to/configuration.md
  docs/how-to/feedback.md
  docs/how-to/pipelines.md
  docs/how-to/source-document-features.md
  docs/operations/gotchas.md
  docs/quickstarts/vm-deployment.md
  redis_sre_agent/api/instances.py
  redis_sre_agent/api/knowledge.py
  redis_sre_agent/cli/main.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/instances.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/core/targets.py
  redis_sre_agent/mcp_server/server.py
  scripts/setup-knowledge.sh
  specs/knowledge-pack-release-spec.md
  tests/unit/api/test_knowledge_api.py
  tests/unit/cli/test_cli_logging_utils.py
  tests/unit/core/test_knowledge_helpers.py
  tests/unit/core/test_targets.py
  tests/unit/core/test_tasks.py
  tests/unit/mcp_server/test_mcp_server.py
  ui/src/components/Modal.tsx
  ui/src/pages/Instances.tsx
  ui/src/pages/Triage.tsx
  ui/src/services/__tests__/sreAgentApi.test.ts
  ui/src/services/sreAgentApi.ts
Due: eslint, typescript, prettier, vitest

Preserve task history when stopping tasks
  docs/reference/api.md
  redis_sre_agent/api/tasks.py
  tests/unit/api/test_tasks_api.py
  ui/src/services/__tests__/sreAgentApi.test.ts
  ui/src/services/sreAgentApi.ts
Due: eslint, typescript, prettier, vitest

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
  vitest: any of: \.(ts|tsx)$
  package-json-sorting: any of: package\.json$
