Repository redis-applied-ai/redis-sre-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, vitest, package-json-sorting

.pre-commit-config.yaml:

repos:
  # General file formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: 'tsconfig\.json$'
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

  # TypeScript type checking
  - repo: local
    hooks:
      - id: typescript
        name: TypeScript Check
        entry: npm run typecheck
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Prettier formatting
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # Run tests on staged files
  - repo: local
    hooks:
      - id: vitest
        name: Vitest
        entry: npm run test
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Package.json validation
  - repo: local
    hooks:
      - id: package-json-sorting
        name: Sort package.json
        entry: npx sort-package-json
        language: system
        files: package\.json$

  # Security checks
  - repo: local
    hooks:
      - id: audit
        name: npm audit
        entry: npm audit --audit-level=moderate
        language: system
        pass_filenames: false
        stages: [manual]

Address review: WS uses API base URL like REST (consistent prefix); bound token-wait polling
  ui/src/components/TaskMonitor.tsx
Due: eslint, typescript, prettier, vitest

fix(tasks): restore fallback task listing
  redis_sre_agent/core/tasks.py
  tests/unit/core/test_task_manager.py
Due: none

Add infrastructure authorization hook design spec and plan
  .omc/plans/infra-authorization-hook.md
  .omc/specs/deep-interview-infra-authorization-hook.md
Due: prettier

Add infra authorization enforcement (hook, loaders, listing, schedules)
  redis_sre_agent/api/auth.py
  redis_sre_agent/api/schedules.py
  redis_sre_agent/api/tasks.py
  redis_sre_agent/cli/schedules.py
  redis_sre_agent/core/auth.py
  redis_sre_agent/core/authorization.py
  redis_sre_agent/core/clusters.py
  redis_sre_agent/core/config.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/instances.py
  redis_sre_agent/core/targets.py
  tests/unit/api/test_schedules_authz_disabled.py
  tests/unit/core/test_authorization.py
  tests/unit/core/test_authorization_enforcement.py
  tests/unit/core/test_authz_worker_principal.py
Due: none

Add authz explicit-attach hard-deny + resume enforcement
  redis_sre_agent/api/tasks.py
  redis_sre_agent/core/docket_tasks.py
  tests/unit/api/test_tasks_api.py
Due: none

Add authz deep-triage report of scoped-out targets
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/targets.py
  redis_sre_agent/targets/contracts.py
  redis_sre_agent/targets/redis_catalog.py
Due: none

Add authz UI: hide Schedules when infrastructure authorization enabled
  ui/src/App.tsx
  ui/src/hooks/useApp.test.tsx
  ui/src/hooks/useApp.ts
  ui/src/hooks/useInfraAuthzDisabled.ts
  ui/src/services/sreAgentApi.ts
Due: eslint, typescript, prettier, vitest

Fix authz fail-open: scope agent zero-scope/cluster-linked instance loaders
  redis_sre_agent/agent/langgraph_agent.py
  tests/unit/core/test_authorization_enforcement.py
Due: none

Rework authz hook to validated JWT token contract; refuse MCP under authz
  .omc/specs/deep-interview-infra-authorization-hook.md
  redis_sre_agent/api/auth.py
  redis_sre_agent/core/authorization.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/api/test_schedules_authz_disabled.py
  tests/unit/core/test_authorization.py
  tests/unit/core/test_authorization_enforcement.py
  tests/unit/core/test_authz_worker_principal.py
Due: prettier

Add authz eval harness + behavioral scenario; validate resolved references (drop confidence gate)
  .omc/specs/deep-interview-infra-authorization-hook.md
  evals/goldens/prompt/authz-deny-named-target/assertions.json
  evals/goldens/prompt/authz-deny-named-target/expected.md
  evals/goldens/prompt/authz-deny-named-target/metadata.yaml
  evals/scenarios/prompt/authz-deny-named-target/scenario.yaml
  evals/suites/authz-behavioral-live.yaml
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/evaluation/runtime.py
  redis_sre_agent/evaluation/scenarios.py
  tests/unit/evaluation/test_authz_eval_harness.py
Due: prettier

Eval fixture honors apply_scope; gate authz refusal eval on structured assertions
  evals/suites/authz-behavioral-live.yaml
  redis_sre_agent/evaluation/runtime.py
Due: none

Drop redundant hook-cache reset in eval authz fixture
  redis_sre_agent/evaluation/runtime.py
Due: none

Document infrastructure authorization + Docker hook setup
  docs/how-to/authentication-sso.md
  docs/how-to/infrastructure-authorization.md
  docs/operations/docker-deployment.md
  mkdocs.yml
Due: prettier

Apply ruff format to authz modules and tests
  redis_sre_agent/core/authorization.py
  redis_sre_agent/core/docket_tasks.py
  tests/unit/core/test_authorization_enforcement.py
  tests/unit/evaluation/test_authz_eval_harness.py
Due: none

Doc: CLI in-process commands are an operator surface, not authz-scoped
  docs/how-to/infrastructure-authorization.md
Due: prettier

Enforce authz on named targets every triage turn (fix multi-turn deny shadowing)
  redis_sre_agent/core/docket_tasks.py
  tests/unit/core/test_authorization_enforcement.py
Due: none

Derive UI OIDC config from AUTH_* in compose; accept comma/space scopes
  docker-compose.yml
  ui/src/auth/oidcConfig.ts
Due: eslint, typescript, prettier, vitest

Remove dead Profile menu item (no profile page)
  ui/src/hooks/useApp.ts
Due: eslint, typescript, prettier, vitest

Fix authz review findings: full-registry save path, update_schedule guard, MCP app serve-time guard
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/api/schedules.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/api/test_schedules_authz_disabled.py
  tests/unit/core/test_authorization_enforcement.py
Due: none

Set/reset worker auth token in process_chat_turn (fail-closed by construction)
  redis_sre_agent/core/docket_tasks.py
  tests/unit/core/test_authz_worker_principal.py
Due: none

Narrow triage authz try to resolution only; drop dead retry param on chat impl
  redis_sre_agent/core/docket_tasks.py
  tests/unit/core/test_authorization_enforcement.py
Due: none

Reorder triage authz deny: hard-deny before the 'continuing' audit log line
  redis_sre_agent/core/docket_tasks.py
Due: none

Hook contract: plain-dict I/O with type+id; allowed-only, fail-closed on bad shape
  docs/how-to/infrastructure-authorization.md
  redis_sre_agent/core/authorization.py
  redis_sre_agent/evaluation/runtime.py
  tests/unit/core/test_authorization.py
  tests/unit/core/test_authorization_enforcement.py
Due: prettier

Share infra-authz flag from useApp; drop duplicate /health hook call in App
  ui/src/App.tsx
  ui/src/hooks/useApp.ts
Due: eslint, typescript, prettier, vitest

scope_models single-pass zip; MCP app guards all ASGI scope types
  redis_sre_agent/core/authorization.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/api/test_schedules_authz_disabled.py
Due: none

Remove .omc planning docs from PR; scrub internal design-doc refs from comments; gitignore .omc/
  .gitignore
  .omc/plans/infra-authorization-hook.md
  .omc/specs/deep-interview-infra-authorization-hook.md
  redis_sre_agent/core/authorization.py
  redis_sre_agent/core/config.py
  redis_sre_agent/core/docket_tasks.py
  tests/unit/api/test_schedules_authz_disabled.py
  tests/unit/core/test_authorization.py
  tests/unit/core/test_authorization_enforcement.py
  tests/unit/core/test_authz_worker_principal.py
  tests/unit/evaluation/test_authz_eval_harness.py
Due: prettier

List scoping fetches all matches (drop silent 1000 cap); rename hook to useSchedulingDisabled
  ui/src/hooks/useSchedulingDisabled.ts
Due: eslint, typescript, prettier, vitest

Apply listing full-fetch + hook rename content (fix incomplete prior commit)
  redis_sre_agent/core/clusters.py
  redis_sre_agent/core/instances.py
  ui/src/hooks/useApp.test.tsx
  ui/src/hooks/useApp.ts
  ui/src/hooks/useSchedulingDisabled.ts
Due: eslint, typescript, prettier, vitest

Add pluggable infrastructure authorization hook (per-principal cluster/instance scoping) (#220)
  .gitignore
  docker-compose.yml
  docs/how-to/authentication-sso.md
  docs/how-to/infrastructure-authorization.md
  docs/operations/docker-deployment.md
  evals/goldens/prompt/authz-deny-named-target/assertions.json
  evals/goldens/prompt/authz-deny-named-target/expected.md
  evals/goldens/prompt/authz-deny-named-target/metadata.yaml
  evals/scenarios/prompt/authz-deny-named-target/scenario.yaml
  evals/suites/authz-behavioral-live.yaml
  mkdocs.yml
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/api/auth.py
  redis_sre_agent/api/schedules.py
  redis_sre_agent/api/tasks.py
  redis_sre_agent/cli/schedules.py
  redis_sre_agent/core/auth.py
  redis_sre_agent/core/authorization.py
  redis_sre_agent/core/clusters.py
  redis_sre_agent/core/config.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/instances.py
  redis_sre_agent/core/targets.py
  redis_sre_agent/evaluation/runtime.py
  redis_sre_agent/evaluation/scenarios.py
  redis_sre_agent/mcp_server/server.py
  redis_sre_agent/targets/contracts.py
  redis_sre_agent/targets/redis_catalog.py
  tests/unit/api/test_schedules_authz_disabled.py
  tests/unit/api/test_tasks_api.py
  tests/unit/core/test_authorization.py
  tests/unit/core/test_authorization_enforcement.py
  tests/unit/core/test_authz_worker_principal.py
  tests/unit/evaluation/test_authz_eval_harness.py
  ui/src/App.tsx
  ui/src/auth/oidcConfig.ts
  ui/src/hooks/useApp.test.tsx
  ui/src/hooks/useApp.ts
  ui/src/hooks/useSchedulingDisabled.ts
  ui/src/services/sreAgentApi.ts
Due: eslint, typescript, prettier, vitest

Prepare v0.7.0 release
  docker-compose.yml
  pyproject.toml
  uv.lock
Due: none

Add redisvl semantic cache backend
  redis_sre_agent/core/config.py
  redis_sre_agent/core/semantic_cache/redisvl_backend.py
  redis_sre_agent/core/vectorizer_helpers.py
Due: none

Fix false miss in shared cache scope filter
  redis_sre_agent/core/semantic_cache/__init__.py
  redis_sre_agent/core/semantic_cache/service.py
  tests/unit/core/semantic_cache/test_service.py
Due: none

Add semantic cache backend seam
  redis_sre_agent/core/semantic_cache/backend.py
  redis_sre_agent/core/semantic_cache/client.py
Due: none

Document both semantic cache backends
  docs/how-to/semantic-cache.md
Due: prettier

Add cross-backend semantic cache contract tests
  tests/unit/core/semantic_cache/test_backend_contract.py
  tests/unit/core/semantic_cache/test_redisvl_backend.py
Due: none

Build redisvl cache backend at most once, including on failure
  redis_sre_agent/core/semantic_cache/redisvl_backend.py
  tests/unit/core/semantic_cache/test_redisvl_backend.py
Due: none

Use version-portable protocol introspection in contract tripwire
  tests/unit/core/semantic_cache/test_backend_contract.py
Due: none

Add redisvl semantic cache backend (#221)
  docs/how-to/semantic-cache.md
  redis_sre_agent/core/config.py
  redis_sre_agent/core/semantic_cache/__init__.py
  redis_sre_agent/core/semantic_cache/backend.py
  redis_sre_agent/core/semantic_cache/client.py
  redis_sre_agent/core/semantic_cache/redisvl_backend.py
  redis_sre_agent/core/semantic_cache/service.py
  redis_sre_agent/core/vectorizer_helpers.py
  tests/unit/core/semantic_cache/test_backend_contract.py
  tests/unit/core/semantic_cache/test_redisvl_backend.py
  tests/unit/core/semantic_cache/test_service.py
Due: prettier

Prevent truncation of instance IDs in CLI output
  redis_sre_agent/cli/instance.py
  tests/unit/cli/test_cli_instances.py
Due: none
