Repository redis-applied-ai/redis-sre-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, vitest, package-json-sorting

.pre-commit-config.yaml:

repos:
  # General file formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: 'tsconfig\.json$'
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

  # TypeScript type checking
  - repo: local
    hooks:
      - id: typescript
        name: TypeScript Check
        entry: npm run typecheck
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Prettier formatting
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # Run tests on staged files
  - repo: local
    hooks:
      - id: vitest
        name: Vitest
        entry: npm run test
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Package.json validation
  - repo: local
    hooks:
      - id: package-json-sorting
        name: Sort package.json
        entry: npx sort-package-json
        language: system
        files: package\.json$

  # Security checks
  - repo: local
    hooks:
      - id: audit
        name: npm audit
        entry: npm audit --audit-level=moderate
        language: system
        pass_filenames: false
        stages: [manual]

Add live eval workflow and baseline policy
  .github/evals/live-model-suites.yaml
  .github/workflows/live-evals.yml
  Makefile
  evals/baseline_policy.yaml
  evals/suites/live-agent-only-smoke.yaml
  redis_sre_agent/cli/eval/__init__.py
  redis_sre_agent/cli/main.py
  redis_sre_agent/core/cli_mcp_parity.py
  redis_sre_agent/evaluation/__init__.py
  redis_sre_agent/evaluation/live_policy.py
  redis_sre_agent/evaluation/live_suite/__init__.py
  redis_sre_agent/evaluation/report_schema.py
  redis_sre_agent/evaluation/runtime.py
  redis_sre_agent/evaluation/scenarios.py
  scripts/run_live_eval_suite.py
  tests/unit/cli/test_cli_eval.py
  tests/unit/core/test_cli_mcp_parity.py
  tests/unit/evaluation/test_live_suite.py
  tests/unit/evaluation/test_report_schema.py
  tests/unit/evaluation/test_reporting.py
  tests/unit/evaluation/test_runtime.py
  tests/unit/evaluation/test_scenarios.py
Due: none

Refresh CLI reference docs
  docs/reference/cli.md
Due: prettier

Fix UI airgap review followups
  scripts/build-airgap.sh
  ui/Dockerfile
  ui/docker-entrypoint.sh
Due: none

Keep airgap README generation literal
  scripts/build-airgap.sh
Due: none

Fix UI nginx startup config
  ui/nginx.conf
Due: none

Keep eval overrides out of prod imports
  redis_sre_agent/agent/knowledge_context.py
  redis_sre_agent/cli/eval/__init__.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/core/runtime_overrides.py
  redis_sre_agent/evaluation/injection.py
  redis_sre_agent/tools/manager.py
  redis_sre_agent/tools/mcp/pool.py
  redis_sre_agent/tools/mcp/provider.py
  tests/unit/cli/test_cli_eval.py
  tests/unit/core/test_knowledge_helpers.py
  tests/unit/evaluation/test_injection.py
Due: none

Guard live eval runs without MCP fixtures
  redis_sre_agent/evaluation/live_suite/__init__.py
  tests/unit/evaluation/test_live_suite.py
Due: none

Normalize eval assertion tool refs
  redis_sre_agent/evaluation/assertions.py
  tests/unit/evaluation/test_assertions.py
Due: none

Normalize expected assertion tool refs
  redis_sre_agent/evaluation/assertions.py
  tests/unit/evaluation/test_assertions.py
Due: none

Consolidate baseline policy normalization
  redis_sre_agent/evaluation/report_schema.py
  tests/unit/evaluation/test_report_schema.py
Due: none

Tighten eval fixture normalization
  evals/scenarios/sources/runbook-overrides-generic-advice/scenario.yaml
  redis_sre_agent/evaluation/assertions.py
  tests/unit/evaluation/test_assertions.py
  tests/unit/evaluation/test_source_scenarios.py
Due: none

Honor scenario fixture pinning
  redis_sre_agent/evaluation/knowledge_backend.py
  tests/unit/evaluation/test_knowledge_backend.py
  tests/unit/evaluation/test_scenario_corpus.py
  tests/unit/evaluation/test_source_scenarios.py
Due: none

Refine eval fixture pinning
  redis_sre_agent/evaluation/knowledge_backend.py
  tests/unit/evaluation/test_knowledge_backend.py
Due: none

Fail closed for eval suite summaries
  redis_sre_agent/cli/eval/__init__.py
  redis_sre_agent/evaluation/knowledge_backend.py
  tests/unit/cli/test_cli_eval.py
Due: none

fix(runtime): preserve adapter sync state before main merge
  .gitignore
  config.runtime.yaml
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/mcp_server/task_contract.py
  runtime_agent.py
  tests/test_runtime_agent.py
  tests/unit/core/test_tasks.py
Due: none

refactor(runtime): derive MCP tools from server registry
  Dockerfile.rar
  runtime_agent.py
  tests/test_runtime_agent.py
Due: none

fix(runtime): route nested task submissions through adapter
  redis_sre_agent/api/schedules.py
  redis_sre_agent/api/tasks.py
  redis_sre_agent/cli/schedules.py
  redis_sre_agent/cli/tasks.py
  redis_sre_agent/core/pipeline_execution_helpers.py
  redis_sre_agent/core/query_helpers.py
  redis_sre_agent/core/runbook_execution_helpers.py
  redis_sre_agent/core/schedule_helpers.py
  redis_sre_agent/core/threads.py
  redis_sre_agent/mcp_server/server.py
  redis_sre_agent/mcp_server/task_contract.py
  tests/unit/core/test_pipeline_execution_helpers.py
  tests/unit/core/test_query_helpers.py
  tests/unit/core/test_runbook_execution_helpers.py
  tests/unit/core/test_schedule_helpers.py
  tests/unit/mcp_server/test_task_contract.py
Due: none

Avoid duplicate form change callbacks
  ui/ui-kit/src/components/Form/Form.test.tsx
  ui/ui-kit/src/components/Form/Form.tsx
Due: eslint, typescript, prettier, vitest

Fix stale form change state
  ui/ui-kit/src/components/Form/Form.test.tsx
  ui/ui-kit/src/components/Form/Form.tsx
Due: eslint, typescript, prettier, vitest

Drop stale form ref effect
  ui/ui-kit/src/components/Form/Form.tsx
Due: eslint, typescript, prettier, vitest

Fix negated forbidden claim matching
  redis_sre_agent/evaluation/assertions.py
  tests/unit/evaluation/test_assertions.py
Due: none

Document eval workflows
  docs/how-to/evals.md
  docs/index.md
  mkdocs.yml
Due: prettier

Restrict workflow token permissions
  .github/workflows/docker-validation.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

Add mocked eval run command
  docs/how-to/evals.md
  docs/reference/cli.md
  redis_sre_agent/cli/eval/__init__.py
  redis_sre_agent/core/cli_mcp_parity.py
  tests/unit/cli/test_cli_eval.py
  tests/unit/core/test_cli_mcp_parity.py
Due: prettier

Define eval policy terms
  docs/how-to/evals.md
Due: prettier

Fix eval review regressions
  redis_sre_agent/cli/eval/__init__.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/evaluation/runtime.py
  tests/unit/cli/test_cli_eval.py
  tests/unit/evaluation/test_injection.py
  tests/unit/evaluation/test_runtime.py
Due: none

Remove dead retry arg
  redis_sre_agent/core/docket_tasks.py
Due: none

Align eval execution paths
  Dockerfile
  docker-compose.yml
  docs/how-to/evals.md
  evals/suites/live-agent-only-smoke.yaml
  redis_sre_agent/evaluation/assertions.py
  redis_sre_agent/evaluation/live_suite/__init__.py
  tests/unit/evaluation/test_assertions.py
  tests/unit/evaluation/test_live_suite.py
Due: prettier

Stabilize live eval scoring
  evals/goldens/prompt/chat-iterative-tool-use/assertions.json
  evals/scenarios/knowledge/disabled-live-access-handoff/scenario.yaml
  evals/scenarios/knowledge/full-maintenance-source-following/scenario.yaml
  evals/scenarios/prompt/chat-iterative-tool-use/fixtures/tools/info-clients.json
  evals/scenarios/prompt/chat-iterative-tool-use/fixtures/tools/info-stats.json
  evals/scenarios/prompt/chat-iterative-tool-use/scenario.yaml
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/cli/eval/__init__.py
  redis_sre_agent/core/runtime_overrides.py
  redis_sre_agent/core/targets.py
  redis_sre_agent/evaluation/assertions.py
  redis_sre_agent/evaluation/judge.py
  redis_sre_agent/evaluation/live_suite/__init__.py
  redis_sre_agent/evaluation/runtime.py
  redis_sre_agent/evaluation/tool_identity.py
  redis_sre_agent/evaluation/tool_runtime.py
  redis_sre_agent/targets/redis_binding.py
  tests/unit/agent/test_knowledge_agent.py
  tests/unit/core/test_target_integrations.py
  tests/unit/core/test_targets.py
  tests/unit/evaluation/test_assertions.py
  tests/unit/evaluation/test_injection.py
  tests/unit/evaluation/test_judge.py
  tests/unit/evaluation/test_live_suite.py
  tests/unit/evaluation/test_runtime.py
  tests/unit/evaluation/test_tool_runtime.py
Due: prettier

Fix remaining live eval cases
  evals/goldens/redis/slowlog-anti-pattern/assertions.json
  evals/scenarios/redis/slowlog-anti-pattern/scenario.yaml
  evals/scenarios/retrieval/general-knowledge-core/scenario.yaml
  evals/scenarios/retrieval/skills-core/scenario.yaml
  evals/scenarios/retrieval/support-ticket-exact-match/scenario.yaml
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/evaluation/agent_only.py
  tests/unit/evaluation/test_agent_only_runtime.py
  tests/unit/evaluation/test_prompt_scenarios.py
Due: prettier

Tighten evidence-only eval prompts
  evals/scenarios/knowledge/disabled-no-knowledge-evidence/scenario.yaml
  evals/scenarios/knowledge/retrieval-ticket-guidance/scenario.yaml
  evals/scenarios/retrieval/general-knowledge-core/scenario.yaml
  redis_sre_agent/agent/knowledge_agent.py
Due: none

Stabilize live eval scenarios
  evals/scenarios/knowledge/retrieval-only-ticket-guidance/scenario.yaml
  evals/scenarios/prompt/knowledge-agent-no-live-access/scenario.yaml
  evals/scenarios/retrieval/docs-maintenance-guidance/scenario.yaml
  evals/scenarios/retrieval/general-knowledge-core/scenario.yaml
Due: none

Resolve remaining review threads
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/core/runtime_overrides.py
  redis_sre_agent/evaluation/agent_only.py
  tests/unit/agent/test_knowledge_agent.py
  tests/unit/evaluation/test_agent_only_runtime.py
  tests/unit/evaluation/test_injection.py
Due: none

Implement Phase Two HITL approvals
  .ai/phase-two-hitl-rollout-notes.md
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/checkpointing.py
  redis_sre_agent/agent/helpers.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/agent/tool_execution.py
  redis_sre_agent/api/schemas.py
  redis_sre_agent/api/tasks.py
  redis_sre_agent/api/threads.py
  redis_sre_agent/api/websockets.py
  redis_sre_agent/core/approvals.py
  redis_sre_agent/core/config.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/keys.py
  redis_sre_agent/core/task_events.py
  redis_sre_agent/core/tasks.py
  redis_sre_agent/mcp_server/server.py
  redis_sre_agent/tools/manager.py
  redis_sre_agent/tools/mcp/provider.py
  redis_sre_agent/tools/models.py
  specs/phase-two-hitl-approvals-spec.md
  tests/unit/agent/test_agent.py
  tests/unit/agent/test_chat_agent.py
  tests/unit/agent/test_checkpointing.py
  tests/unit/agent/test_tool_execution.py
  tests/unit/api/test_tasks_api.py
  tests/unit/api/test_threads_api.py
  tests/unit/api/test_websockets.py
  tests/unit/core/test_approvals.py
  tests/unit/core/test_docket_resume.py
  tests/unit/core/test_schedule_helpers.py
  tests/unit/core/test_task_manager.py
  tests/unit/core/test_tasks.py
  tests/unit/core/test_thread_management.py
  tests/unit/mcp_server/test_mcp_server.py
  tests/unit/tools/mcp_provider/test_mcp_provider.py
  tests/unit/tools/test_manager.py
  tests/unit/tools/test_models.py
Due: prettier

Fix HITL CI regressions
  docs/reference/api.md
  redis_sre_agent/agent/checkpointing.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/agent/tool_execution.py
  redis_sre_agent/core/approvals.py
  redis_sre_agent/core/config.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/tasks.py
  redis_sre_agent/evaluation/fake_mcp.py
  redis_sre_agent/tools/manager.py
  redis_sre_agent/tools/mcp/provider.py
  tests/unit/agent/test_agent.py
  tests/unit/agent/test_chat_agent.py
  tests/unit/agent/test_checkpointing.py
  tests/unit/api/test_tasks_api.py
  tests/unit/core/test_approvals.py
  tests/unit/mcp_server/test_mcp_server.py
  tests/unit/tools/mcp_provider/test_mcp_provider.py
Due: prettier

Harden explicit HITL target scope
  redis_sre_agent/core/docket_tasks.py
  tests/unit/core/test_tasks.py
Due: none

Format merged HITL task flow
  redis_sre_agent/core/docket_tasks.py
Due: none

Stabilize explicit scope HITL tests
  tests/unit/core/test_tasks.py
Due: none

Fix PR review edge cases
  redis_sre_agent/agent/checkpointing.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/agent/tool_execution.py
  redis_sre_agent/api/tasks.py
  redis_sre_agent/core/docket_tasks.py
  tests/unit/agent/test_agent.py
  tests/unit/agent/test_checkpointing.py
  tests/unit/agent/test_tool_execution.py
  tests/unit/api/test_tasks_api.py
  tests/unit/core/test_docket_resume.py
  tests/unit/core/test_tasks.py
Due: none

Format review follow-up tests
  tests/unit/api/test_tasks_api.py
  tests/unit/core/test_docket_resume.py
Due: none
