Repository redis-applied-ai/redis-sre-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, vitest, package-json-sorting

.pre-commit-config.yaml:

repos:
  # General file formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: 'tsconfig\.json$'
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

  # TypeScript type checking
  - repo: local
    hooks:
      - id: typescript
        name: TypeScript Check
        entry: npm run typecheck
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Prettier formatting
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # Run tests on staged files
  - repo: local
    hooks:
      - id: vitest
        name: Vitest
        entry: npm run test
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Package.json validation
  - repo: local
    hooks:
      - id: package-json-sorting
        name: Sort package.json
        entry: npx sort-package-json
        language: system
        files: package\.json$

  # Security checks
  - repo: local
    hooks:
      - id: audit
        name: npm audit
        entry: npm audit --audit-level=moderate
        language: system
        pass_filenames: false
        stages: [manual]

Clear default MCP server config
  redis_sre_agent/core/config.py
Due: none

Avoid empty OpenAI base URLs
  docker-compose.yml
Due: none

Pass through OpenAI base URL
  docker-compose.yml
Due: none

Remove stale MCP cleanup
  redis_sre_agent/core/config.py
Due: none

Stop shipping memory MCP defaults
  Dockerfile
  Dockerfile.airgap
  config.airgap.yaml
  config.yaml.example
  docs/concepts/core.md
  docs/how-to/configuration.md
  docs/how-to/tool-providers.md
  docs/operations/airgap-deployment.md
  docs/reference/configuration.md
Due: prettier

Expose ingestion MCP workflows
  redis_sre_agent/core/pipeline_helpers.py
  redis_sre_agent/core/support_package_helpers.py
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/core/test_pipeline_helpers.py
  tests/unit/core/test_support_package_helpers.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Expose knowledge fragment MCP tools
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Expose pipeline execution via MCP
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/pipeline_execution_helpers.py
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/core/test_pipeline_execution_helpers.py
  tests/unit/core/test_tasks.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Expose runbook workflows via MCP
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/runbook_execution_helpers.py
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/core/test_runbook_execution_helpers.py
  tests/unit/core/test_tasks.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Expose task inspection over MCP
  redis_sre_agent/core/task_inspection_helpers.py
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/core/test_task_inspection_helpers.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Expose thread provenance over MCP
  redis_sre_agent/core/thread_inspection_helpers.py
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/core/test_thread_inspection_helpers.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Expose instance checks over MCP
  redis_sre_agent/core/instance_inspection_helpers.py
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/core/test_instance_inspection_helpers.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Finish instance MCP parity
  redis_sre_agent/core/instance_mutation_helpers.py
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/core/test_instance_mutation_helpers.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Expose cache and version over MCP
  redis_sre_agent/core/cache_helpers.py
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/core/test_cache_helpers.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Expose task purge over MCP
  redis_sre_agent/core/task_purge_helpers.py
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/core/test_task_purge_helpers.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Use LLM factory for thread subjects
  redis_sre_agent/api/threads.py
  redis_sre_agent/core/threads.py
  tests/unit/api/test_threads_api.py
  tests/unit/core/test_thread_management.py
Due: none

Cap thread subject tokens
  redis_sre_agent/core/threads.py
  tests/unit/core/test_thread_management.py
Due: none

Expose index tools over MCP
  redis_sre_agent/core/index_helpers.py
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/core/test_index_helpers.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Expose routed query over MCP
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/query_helpers.py
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/core/test_query_helpers.py
  tests/unit/core/test_tasks.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Expose cluster tools over MCP
  redis_sre_agent/core/cluster_helpers.py
  redis_sre_agent/core/index_helpers.py
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/core/test_cluster_helpers.py
  tests/unit/core/test_index_helpers.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Expose schedule tools over MCP
  redis_sre_agent/core/schedule_helpers.py
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/core/test_schedule_helpers.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Expose thread maintenance over MCP
  redis_sre_agent/core/thread_maintenance_helpers.py
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/core/test_thread_maintenance_helpers.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Guard CLI MCP parity
  redis_sre_agent/core/cli_mcp_parity.py
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/core/test_cli_mcp_parity.py
  tests/unit/mcp_server/test_mcp_server.py
Due: none

Split startup and discovered citation context
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/helpers.py
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/agent/knowledge_context.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/cli/query.py
  redis_sre_agent/cli/threads.py
  redis_sre_agent/core/citation_message.py
  redis_sre_agent/core/docket_tasks.py
  tests/unit/agent/test_extract_citations.py
  tests/unit/agent/test_knowledge_context.py
  tests/unit/cli/test_cli_threads.py
  tests/unit/core/test_citation_message.py
  tests/unit/core/test_thread_management.py
  ui/src/pages/Triage.tsx
Due: eslint, typescript, prettier, vitest

Fix citation lint follow-up
  redis_sre_agent/agent/helpers.py
  redis_sre_agent/core/citation_message.py
Due: none

Fix issue #99: record pinned startup context in citations (#117)
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/helpers.py
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/agent/knowledge_context.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/cli/query.py
  redis_sre_agent/cli/threads.py
  redis_sre_agent/core/citation_message.py
  redis_sre_agent/core/docket_tasks.py
  tests/unit/agent/test_extract_citations.py
  tests/unit/agent/test_knowledge_context.py
  tests/unit/cli/test_cli_threads.py
  tests/unit/core/test_citation_message.py
  tests/unit/core/test_thread_management.py
  ui/src/pages/Triage.tsx
Due: eslint, typescript, prettier, vitest

Add TOML and JSON config file support
  docs/concepts/core.md
  docs/how-to/configuration.md
  docs/how-to/tool-providers.md
  docs/reference/configuration.md
  redis_sre_agent/core/config.py
  tests/unit/core/test_cluster_admin_defaults.py
  tests/unit/core/test_config.py
Due: prettier

Format config tests for CI
  tests/unit/core/test_config.py
Due: none

Fix exact search compatibility on older Redis Search
  README.md
  docs/operations/gotchas.md
  redis_sre_agent/core/knowledge_helpers.py
  tests/unit/core/test_knowledge_helpers.py
Due: prettier

Format exact search compatibility changes
  redis_sre_agent/core/knowledge_helpers.py
  tests/unit/core/test_knowledge_helpers.py
Due: none

Add TOML and JSON config file support (#119)
  docs/concepts/core.md
  docs/how-to/configuration.md
  docs/how-to/tool-providers.md
  docs/reference/configuration.md
  redis_sre_agent/core/config.py
  tests/unit/core/test_cluster_admin_defaults.py
  tests/unit/core/test_config.py
Due: prettier

Fix exact search compatibility on older Redis Search (#120)
  README.md
  docs/operations/gotchas.md
  redis_sre_agent/core/knowledge_helpers.py
  tests/unit/core/test_knowledge_helpers.py
Due: prettier

Move specs into dedicated directory
  AGENTS.md
  specs/natural-language-target-discovery-spec.md
Due: prettier

Integrate analyzer MCP support
  docker-compose.yml
  redis_sre_agent/agent/knowledge_agent.py
  source_documents/shared/analyzer-mcp-usage-skill.md
  tests/unit/agent/test_knowledge_agent.py
Due: prettier

Support natural-language target discovery
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/agent/router.py
  redis_sre_agent/cli/query.py
  redis_sre_agent/core/clusters.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/instances.py
  redis_sre_agent/core/redis.py
  redis_sre_agent/core/targets.py
  redis_sre_agent/tools/manager.py
  redis_sre_agent/tools/target_discovery/__init__.py
  redis_sre_agent/tools/target_discovery/provider.py
  tests/integration/test_target_discovery_flow.py
  tests/unit/agent/test_chat_agent.py
  tests/unit/agent/test_router.py
  tests/unit/cli/test_cli_query.py
  tests/unit/core/test_redis.py
  tests/unit/core/test_targets.py
  tests/unit/core/test_tasks.py
  tests/unit/tools/test_manager.py
  tests/unit/tools/test_tool_manager_protocols.py
Due: none

Tighten target resolver matching
  redis_sre_agent/core/targets.py
  tests/unit/core/test_targets.py
Due: none

Preserve alias token overlap scoring
  redis_sre_agent/core/targets.py
  tests/unit/core/test_targets.py
Due: none

Align CLI knowledge mode with chat
  redis_sre_agent/cli/query.py
  tests/unit/cli/test_cli_query.py
Due: none

Preserve chat tool and thread context
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/core/docket_tasks.py
  tests/unit/agent/test_chat_agent.py
  tests/unit/core/test_tasks.py
Due: none
