Repository redis-applied-ai/redis-sre-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, vitest, package-json-sorting

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

vitest:
  name: Vitest
  entry: npm run test
  language: system
  pass_filenames: false

package-json-sorting:
  name: Sort package.json
  entry: npx sort-package-json
  language: system

docker: prevent Redis Enterprise IP collisions by restricting dynamic IP range
  docker-compose.yml
Due: none

fix(prometheus): handle HTTP errors so search_metrics can retry via client.all_metrics()
  redis_sre_agent/tools/metrics/prometheus/provider.py
Due: none

chore(ci): remove UI E2E workflow (local-only)
  .github/workflows/ui-e2e.yml
Due: none

Makefile, workflow tweaks
  .github/workflows/docs.yml
  Makefile
  docs/how-to/cli.md
Due: prettier

Fixes, docs changes
  .env.example
  .github/workflows/test.yml
  Makefile
  README.md
  docs/concepts/core.md
  docs/how-to/api.md
  docs/how-to/cli.md
  docs/how-to/configuration.md
  docs/how-to/pipelines.md
  docs/how-to/scheduling-flows.md
  docs/how-to/tool-providers.md
  docs/index.md
  docs/operations/observability.md
  docs/reference/api.md
  docs/reference/cli.md
  docs/reference/configuration.md
  docs/ui/experimental.md
  examples/demo_scenarios.py
  mkdocs.yml
  pyproject.toml
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/api/app.py
  redis_sre_agent/cli/query.py
  redis_sre_agent/cli/worker.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/instances.py
  redis_sre_agent/models/__init__.py
  scripts/generate_reference_docs.py
  scripts/setup_redis_enterprise_cluster.sh
  tests/integration/core/test_instances_search_cleanup.py
  tests/integration/test_agent_behavior.py
  tests/integration/test_instance_tool_routing.py
  tests/integration/test_multi_turn_agent_evaluation.py
  tests/test_docs_snippets.py
  uv.lock
Due: prettier

Revise README
  README.md
Due: prettier

Fix docs nav
  .pre-commit-config.yaml
  mkdocs.yml
Due: none

Comprehensive documentation improvements
  docs/how-to/tool-providers.md
  docs/index.md
  docs/operations/gotchas.md
  docs/quickstarts/production.md
  docs/quickstarts/vm-deployment.md
  docs/reference/configuration.md
  mkdocs.yml
Due: prettier

Fix reference doc generation to include trailing newlines
  scripts/generate_reference_docs.py
Due: none

Fix CLI command examples in gotchas.md
  docs/operations/gotchas.md
Due: prettier

Update test to use redis_command provider name
  docs/how-to/tool-providers.md
  docs/operations/gotchas.md
  redis_sre_agent/agent/subgraphs/recommendation_worker.py
  redis_sre_agent/core/config.py
  redis_sre_agent/tools/diagnostics/redis_cli/__init__.py
  redis_sre_agent/tools/diagnostics/redis_command/README.md
  redis_sre_agent/tools/diagnostics/redis_command/__init__.py
  redis_sre_agent/tools/diagnostics/redis_command/provider.py
  tests/integration/tools/diagnostics/redis_command/test_redis_cli_integration.py
  tests/integration/tools/diagnostics/redis_command/test_redis_command_provider.py
  tests/tools/diagnostics/redis_cli/__init__.py
  tests/unit/tools/test_manager.py
  tests/unit/tools/test_tool_manager_capabilities.py
Due: prettier

Comprehensive rewrite of pipelines documentation
  docs/how-to/pipelines.md
Due: prettier

Fix CLI command names: use hyphens instead of underscores
  docs/how-to/pipelines.md
Due: prettier

Add redis_kb and redis_cloud_api scrapers to documentation
  docs/how-to/pipelines.md
Due: prettier

Update model references: GPT-4o → GPT-5, GPT-3.5 → GPT-5-mini
  docs/how-to/pipelines.md
  docs/operations/gotchas.md
  docs/reference/cli.md
Due: prettier

Update CLI docstring: GPT-4o → GPT-5 and regenerate reference docs
  redis_sre_agent/cli/pipeline.py
Due: none

Run ui linters ui Makefile
  Makefile
  docker-compose.test.yml
  redis_sre_agent/core/schedule_storage.py
  ui/package.json
  ui/src/App.tsx
  ui/src/components/Modal.tsx
  ui/src/components/TaskMonitor.tsx
  ui/src/components/__tests__/Modal.test.tsx
  ui/src/hooks/useApp.ts
  ui/src/index.css
  ui/src/main.tsx
  ui/src/pages/Dashboard.tsx
  ui/src/pages/Instances.tsx
  ui/src/pages/Knowledge.tsx
  ui/src/pages/Schedules.tsx
  ui/src/pages/Settings.tsx
  ui/src/pages/Triage.tsx
  ui/src/services/__tests__/sreAgentApi.test.ts
  ui/src/services/__tests__/url-construction.test.ts
  ui/src/services/sreAgentApi.ts
  ui/src/utils/urlMasking.ts
  ui/ui-kit/.pre-commit-config.yaml
Due: eslint, typescript, prettier, vitest, package-json-sorting

Remove duplicated schedule functions
  redis_sre_agent/api/schedules.py
  redis_sre_agent/cli/schedules.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/schedule_storage.py
  tests/unit/core/test_schedule_storage.py
Due: none

Use less space for image build
  .github/workflows/publish-docker.yml
  Dockerfile
Due: none

Move some INFO logs to DEBUG
  .gitignore
  redis_sre_agent/agent/helpers.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/core/redis.py
Due: none

Use QEMU builds
  .github/workflows/publish-docker.yml
Due: none

Fix linting
  redis_sre_agent/api/schedules.py
  redis_sre_agent/cli/schedules.py
  ui/ui-kit/README.md
  ui/ui-kit/SETUP.md
Due: prettier

Improve configuration docs formatting
  docs/how-to/configuration.md
Due: prettier

Remove unused config
  docker-compose.prod.yml
Due: none

ignore mypy cache
  .gitignore
Due: none

ignore mypy cache really
  .gitignore
Due: none

ignore redis docs
  .gitignore
Due: none

ignore artifacts/ directory
  .gitignore
Due: none

ignore ui/node_modules
  .gitignore
Due: none

ignore more files
  .gitignore
Due: none

Attempt to improve image build space use
  .github/workflows/publish-docker.yml
  Dockerfile
  pyproject.toml
Due: none

Fix new chat bug: can't start new chats while one is running
  ui/e2e/chat.spec.ts
  ui/playwright.config.ts
  ui/src/pages/Triage.tsx
  ui/test-results/.last-run.json
Due: eslint, typescript, prettier, vitest

Avoid separate chown to use less space in layers
  Dockerfile
Due: none

Remove all thread data when deleting
  redis_sre_agent/core/threads.py
  tests/integration/core/test_threads_delete_integration.py
Due: none

Add info about running e2e frontend tests
  .gitignore
  docs/ui/experimental.md
  tests/integration/core/test_threads_delete_integration.py
Due: prettier

Use secret for dockerhub username
  .github/workflows/publish-docker.yml
  .gitignore
Due: none

Use new image name
  .github/workflows/publish-docker.yml
Due: none

fix: Query with an instance now sends instance details to agent
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/cli/query.py
  tests/unit/cli/test_cli_query.py
Due: none

Print error if query receives an unknown instance ID
  redis_sre_agent/cli/query.py
  tests/unit/cli/test_cli_query.py
Due: none

Fix docker hub image name reference
  .github/workflows/publish-docker.yml
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
  vitest: any of: \.(ts|tsx)$
  package-json-sorting: any of: package\.json$
