Repository redis-applied-ai/redis-sre-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, vitest, package-json-sorting

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

vitest:
  name: Vitest
  entry: npm run test
  language: system
  pass_filenames: false

package-json-sorting:
  name: Sort package.json
  entry: npx sort-package-json
  language: system

Tighten test assertions: catch ValidationError, test EvalMemoryFixture extra fields
  tests/unit/evaluation/test_memory_scenarios.py
Due: none

Add FakeMemorySession and inject_memory_fixture for eval memory injection
  redis_sre_agent/evaluation/fake_memory.py
  tests/unit/evaluation/test_memory_scenarios.py
Due: none

Fix unused imports and tighten type annotation in fake_memory
  redis_sre_agent/evaluation/fake_memory.py
  tests/unit/evaluation/test_memory_scenarios.py
Due: none

Wire inject_memory_fixture into agent_only and full_turn scenario runners
  redis_sre_agent/evaluation/agent_only.py
  redis_sre_agent/evaluation/runtime.py
  tests/unit/evaluation/test_memory_scenarios.py
Due: none

Remove unused monkeypatch parameter from wiring test
  tests/unit/evaluation/test_memory_scenarios.py
Due: none

Add memory-user-preference-honored eval scenario
  evals/goldens/prompt/memory-user-preference-honored/assertions.json
  evals/goldens/prompt/memory-user-preference-honored/expected.md
  evals/goldens/prompt/memory-user-preference-honored/metadata.yaml
  evals/scenarios/prompt/memory-user-preference-honored/scenario.yaml
  tests/unit/evaluation/test_memory_scenarios.py
Due: prettier

Strengthen scenario assertions and register in test sweeps
  evals/goldens/prompt/memory-user-preference-honored/assertions.json
  evals/goldens/prompt/memory-user-preference-honored/metadata.yaml
  evals/scenarios/prompt/memory-user-preference-honored/scenario.yaml
  tests/unit/evaluation/test_prompt_scenarios.py
  tests/unit/evaluation/test_scenarios.py
Due: prettier

Add memory-asset-incident-context eval scenario
  evals/goldens/prompt/memory-asset-incident-context/assertions.json
  evals/goldens/prompt/memory-asset-incident-context/expected.md
  evals/goldens/prompt/memory-asset-incident-context/metadata.yaml
  evals/scenarios/prompt/memory-asset-incident-context/scenario.yaml
  tests/unit/evaluation/test_memory_scenarios.py
  tests/unit/evaluation/test_prompt_scenarios.py
  tests/unit/evaluation/test_scenarios.py
Due: prettier

Add missing assertions to asset-incident scenario load test
  tests/unit/evaluation/test_memory_scenarios.py
Due: none

fix(skills): ground startup inventory semantically
  redis_sre_agent/agent/knowledge_context.py
  redis_sre_agent/core/config.py
  redis_sre_agent/skills/afs_workspace_backend.py
  tests/unit/agent/test_knowledge_context.py
  tests/unit/skills/test_afs_workspace_backend.py
Due: none

Inject synthetic asset scope when fixture has asset memory
  redis_sre_agent/evaluation/fake_memory.py
Due: none

Add docs/superpowers/ to .gitignore
  .gitignore
Due: none

Fix ruff formatting and regenerate reference docs
  docs/reference/api.md
  redis_sre_agent/api/memory.py
  redis_sre_agent/core/agent_memory.py
  redis_sre_agent/evaluation/fake_memory.py
  redis_sre_agent/evaluation/runtime.py
  tests/unit/core/test_agent_memory.py
  tests/unit/evaluation/test_memory_scenarios.py
Due: prettier

Keep airgap privacy filter runnable
  Dockerfile.airgap
  docs/operations/airgap-deployment.md
  pyproject.toml
  uv.lock
Due: prettier

Fix pagination zero-limit bug and redact exception detail from memory API
  redis_sre_agent/api/memory.py
  ui/src/components/MemoryPanel.tsx
Due: eslint, typescript, prettier, vitest

Fix disabled/unavailable status ternary in memory API
  redis_sre_agent/api/memory.py
Due: none

Fix ruff lint: remove unused imports, sort inline import blocks
  redis_sre_agent/api/memory.py
  tests/unit/evaluation/test_memory_scenarios.py
Due: none

fix(skills): address PR review notes
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/agent/knowledge_context.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/skills/afs_workspace_backend.py
  tests/unit/agent/test_knowledge_context.py
  tests/unit/evaluation/test_injection.py
  tests/unit/evaluation/test_knowledge_scenarios.py
  tests/unit/evaluation/test_prompt_scenarios.py
  tests/unit/evaluation/test_runtime.py
  tests/unit/evaluation/test_scenario_corpus.py
  tests/unit/skills/test_afs_workspace_backend.py
Due: none

Harden guarded PII call paths
  redis_sre_agent/agent/subgraphs/recommendation_worker.py
  redis_sre_agent/agent/subgraphs/safety_fact_corrector.py
  redis_sre_agent/core/default_pii_remediator.py
  tests/unit/agent/test_fact_check_prompt_additional.py
  tests/unit/agent/test_recommendation_worker.py
  tests/unit/core/test_pii_remediation.py
Due: none

Fix preference filter: use 'prefers' to avoid matching 'preferred'
  redis_sre_agent/core/agent_memory.py
Due: none

test(agent): align startup context assertions
  tests/unit/agent/test_agent.py
  tests/unit/agent/test_chat_agent.py
  tests/unit/agent/test_knowledge_agent.py
Due: none

Route inseparable mixed sentences to user scope instead of dropping
  redis_sre_agent/core/agent_memory.py
  tests/unit/core/test_agent_memory.py
Due: none

Avoid double-guarding memoized LLM calls
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/agent/subgraphs/recommendation_worker.py
  redis_sre_agent/agent/subgraphs/safety_fact_corrector.py
  redis_sre_agent/core/llm_request_guard.py
  tests/unit/agent/test_fact_check_prompt_additional.py
  tests/unit/agent/test_recommendation_worker.py
Due: none

Add per-asset memory sections for dynamically resolved targets
  redis_sre_agent/api/memory.py
  redis_sre_agent/core/docket_tasks.py
  ui/src/components/MemoryPanel.tsx
  ui/src/services/sreAgentApi.ts
Due: eslint, typescript, prettier, vitest

Serialize privacy filter inference
  redis_sre_agent/core/default_pii_remediator.py
  tests/unit/core/test_pii_remediation.py
Due: none

fix(skills): cap startup toc at 50
  redis_sre_agent/agent/knowledge_context.py
  redis_sre_agent/core/config.py
  tests/unit/agent/test_knowledge_context.py
Due: none

Tighten guarded payload typing
  redis_sre_agent/core/llm_request_guard.py
  tests/unit/core/test_llm_request_guard.py
Due: none

Preserve custom factory load failures
  redis_sre_agent/core/pii_remediation.py
  tests/unit/core/test_pii_remediation.py
Due: none

Guard memoized instance detection
  redis_sre_agent/agent/langgraph_agent.py
  tests/unit/agent/test_instance_detection.py
Due: none

Fail closed on truncated guard input
  redis_sre_agent/core/llm_request_guard.py
  tests/unit/core/test_llm_request_guard.py
Due: none

Scan safe blocks when truncation occurs
  redis_sre_agent/core/llm_request_guard.py
  tests/unit/core/test_llm_request_guard.py
Due: none

Preserve blocked truncation outcomes
  redis_sre_agent/core/llm_request_guard.py
  tests/unit/core/test_llm_request_guard.py
Due: none

Drop unused remediator getter
  redis_sre_agent/core/pii_remediation.py
Due: none

Reuse guarded memoize proxies
  redis_sre_agent/agent/subgraphs/recommendation_worker.py
  redis_sre_agent/agent/subgraphs/safety_fact_corrector.py
Due: none

Refine memo cache model keys
  redis_sre_agent/agent/langgraph_agent.py
  tests/unit/agent/test_fact_check_prompt_additional.py
Due: none

docs: add AI agent contributor guide and llms.txt
  docs/for-ais-only/AUTHORING_STANDARD.md
  docs/for-ais-only/BUILD_AND_TEST.md
  docs/for-ais-only/FAILURE_MODES.md
  docs/for-ais-only/REPOSITORY_MAP.md
  docs/for-ais-only/index.md
  docs/llms.txt
  mkdocs.yml
Due: prettier

feat(docs): RedisVL-style CLI and REST API reference (generated)
  Makefile
  docs/api/cli_ref.md
  docs/api/rest_api.md
  scripts/generate_reference_docs.py
Due: prettier

feat(docs): add Diátaxis section landing pages
  docs/api/index.md
  docs/concepts/index.md
  docs/concepts/pipelines.md
  docs/concepts/tool_providers.md
  docs/concepts/triage_loop.md
  docs/examples/custom_provider.md
  docs/examples/incident_triage.md
  docs/examples/index.md
  docs/user_guide/how_to_guides/index.md
  docs/user_guide/how_to_guides/operations/index.md
  docs/user_guide/how_to_guides/release_tutorials/index.md
  docs/user_guide/index.md
  mkdocs.yml
Due: prettier

chore(docs): add docs build toolchain
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
  vitest: any of: \.(ts|tsx)$
  package-json-sorting: any of: package\.json$
