Repository redis-applied-ai/redis-sre-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, vitest, package-json-sorting

.pre-commit-config.yaml:

repos:
  # General file formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: 'tsconfig\.json$'
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

  # TypeScript type checking
  - repo: local
    hooks:
      - id: typescript
        name: TypeScript Check
        entry: npm run typecheck
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Prettier formatting
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # Run tests on staged files
  - repo: local
    hooks:
      - id: vitest
        name: Vitest
        entry: npm run test
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Package.json validation
  - repo: local
    hooks:
      - id: package-json-sorting
        name: Sort package.json
        entry: npx sort-package-json
        language: system
        files: package\.json$

  # Security checks
  - repo: local
    hooks:
      - id: audit
        name: npm audit
        entry: npm audit --audit-level=moderate
        language: system
        pass_filenames: false
        stages: [manual]

Use a TAG field for instance names
  redis_sre_agent/core/instances.py
  redis_sre_agent/core/redis.py
  tests/unit/api/test_instances_api.py
  tests/unit/mcp_server/test_mcp_server.py
  ui/src/pages/Instances.tsx
Due: eslint, typescript, prettier, vitest

Note why we are using FilterExpression
  redis_sre_agent/core/instances.py
Due: none

Fix: handle bytes command names in Redis request hook
  redis_sre_agent/observability/tracing.py
  tests/unit/observability/test_tracing.py
Due: none

lint and docker fixes
  Dockerfile
  docker-compose.yml
  redis_sre_agent/api/app.py
  redis_sre_agent/api/threads.py
  redis_sre_agent/observability/tracing.py
  tests/unit/observability/test_tracing.py
  ui/ui-kit/package.json
Due: prettier, package-json-sorting

Update .github/workflows/publish-docker.yml
  .github/workflows/publish-docker.yml
Due: none

Update .env.example
  .env.example
Due: none

docs: Document agent architecture, MCP interface, and routing
  AGENTS.md
  docs/concepts/core.md
  docs/how-to/tool-providers.md
  monitoring/grafana/provisioning/datasources/tempo.yml
  redis_sre_agent/api/middleware.py
  redis_sre_agent/cli/instance.py
  redis_sre_agent/core/config.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/pipelines/scraper/redis_kb.py
  tests/unit/cli/test_cli_instances.py
  tests/unit/pipelines/scraper/test_redis_kb_scraper.py
Due: prettier

fix: Remove unused import and format code
  redis_sre_agent/api/middleware.py
  redis_sre_agent/pipelines/scraper/redis_kb.py
  tests/unit/cli/test_cli_instances.py
  tests/unit/pipelines/scraper/test_redis_kb_scraper.py
Due: none

docs: Regenerate CLI reference docs
  docs/reference/cli.md
Due: prettier

Fix missing ChatOpenAI imports and update tests after merge from main
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/agent/langgraph_agent.py
  tests/unit/agent/test_chat_agent.py
  tests/unit/agent/test_temperature_removal.py
Due: none

Fix lint issues
  redis_sre_agent/agent/router.py
  redis_sre_agent/evaluation/judge.py
  tests/unit/agent/test_chat_agent.py
Due: none

Fix invalid toLower() function in GHA workflow
  .github/workflows/publish-docker.yml
Due: none

Add packages:write permission for GHCR push
  .github/workflows/publish-docker.yml
Due: none

fix(scraper): update redis_docs_local paths to match current repo structure
  redis_sre_agent/pipelines/scraper/redis_docs_local.py
Due: none

Update config example to show tool categories
  config.yaml.example
Due: none

Docs updates
  docs/concepts/core.md
  docs/how-to/configuration.md
  docs/index.md
  docs/ui/experimental.md
  mkdocs.yml
Due: prettier

Add support package feature for offline Redis diagnostics
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/api/app.py
  redis_sre_agent/api/support_package.py
  redis_sre_agent/cli/main.py
  redis_sre_agent/cli/support_package.py
  redis_sre_agent/core/config.py
  redis_sre_agent/tools/manager.py
  redis_sre_agent/tools/support_package/__init__.py
  redis_sre_agent/tools/support_package/extractor.py
  redis_sre_agent/tools/support_package/manager.py
  redis_sre_agent/tools/support_package/models.py
  redis_sre_agent/tools/support_package/provider.py
  redis_sre_agent/tools/support_package/storage/__init__.py
  redis_sre_agent/tools/support_package/storage/local.py
  redis_sre_agent/tools/support_package/storage/protocols.py
  redis_sre_agent/tools/support_package/storage/s3.py
  tests/unit/api/test_support_package_api.py
  tests/unit/cli/test_support_package.py
  tests/unit/tools/support_package/__init__.py
  tests/unit/tools/support_package/storage/__init__.py
  tests/unit/tools/support_package/storage/test_storage.py
  tests/unit/tools/support_package/test_extractor.py
  tests/unit/tools/support_package/test_manager.py
  tests/unit/tools/support_package/test_models.py
  tests/unit/tools/support_package/test_provider.py
Due: none

Fix formatting and regenerate reference docs
  docs/reference/api.md
  docs/reference/cli.md
  redis_sre_agent/api/support_package.py
  redis_sre_agent/cli/support_package.py
  redis_sre_agent/tools/manager.py
  redis_sre_agent/tools/support_package/provider.py
  redis_sre_agent/tools/support_package/storage/protocols.py
  redis_sre_agent/tools/support_package/storage/s3.py
  tests/unit/tools/support_package/storage/test_storage.py
  tests/unit/tools/support_package/test_models.py
Due: prettier

Fix unused imports in tests
  tests/unit/cli/test_support_package.py
  tests/unit/tools/support_package/storage/test_storage.py
  tests/unit/tools/support_package/test_manager.py
Due: none

Disable security workflow on PRs (broken for private repos)
  .env.example
  .github/workflows/security.yml
  docker-compose.yml
  docs/how-to/pipelines.md
Due: prettier

Allow speicfying support package with -p in chat
  docs/how-to/cli.md
  docs/reference/cli.md
  redis_sre_agent/agent/router.py
  redis_sre_agent/cli/query.py
Due: prettier

Regenerate reference docs and fix tests
  docs/reference/cli.md
  tests/unit/agent/test_agent.py
  tests/unit/agent/test_temperature_removal.py
Due: prettier

Fix test to not depend on specific model names
  tests/unit/agent/test_temperature_removal.py
Due: none

add test / fix instance type bug
  redis_sre_agent/agent/langgraph_agent.py
  tests/unit/agent/test_router.py
Due: none

lint
  redis_sre_agent/agent/langgraph_agent.py
Due: none

Remove non-functional agent traces dashboard
  monitoring/grafana/provisioning/dashboards/json/agent-traces.json
  monitoring/grafana/provisioning/datasources/loki.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
Due: prettier

first working
  .gitignore
  README.md
  redis_sre_agent/api/tasks.py
  redis_sre_agent/cli/tasks.py
  redis_sre_agent/mcp_server/server.py
  tests/unit/api/test_tasks_api.py
  tests/unit/cli/test_cli_tasks.py
  tests/unit/mcp_server/test_mcp_server.py
Due: prettier

docs update
  docs/reference/api.md
  docs/reference/cli.md
Due: prettier

docs update
  docs/reference/cli.md
  scripts/generate_reference_docs.py
Due: prettier

fix actual test
  tests/unit/api/test_tasks_api.py
Due: none

add instance_id back
  README.md
Due: prettier

mod dockerfile
  Dockerfile
  docker-compose.yml
Due: none

litellm config default
  .gitignore
  monitoring/litellm/config.yaml
Due: none

add 5.x options
  monitoring/litellm/config.yaml
Due: none

Add more gpt-5 versions
  monitoring/litellm/config.yaml
Due: none

wip
  .gitignore
  config.yaml
  docker-compose.yml
  docs/how-to/cli.md
  docs/how-to/pipelines.md
  docs/quickstarts/end-to-end-setup.md
  redis_sre_agent/core/knowledge_helpers.py
  ui/vite.config.ts
Due: eslint, typescript, prettier, vitest

first working
  .env.example
  docker-compose.yml
  docs/quickstarts/end-to-end-setup.md
  docs/quickstarts/resources/data-proc.png
  docs/quickstarts/resources/docker.png
  docs/quickstarts/resources/scrape.png
  docs/quickstarts/resources/ui.png
  ui/.env.example
  ui/README.md
  ui/src/pages/Settings.tsx
  ui/src/services/__tests__/url-construction.test.ts
  ui/src/services/sreAgentApi.ts
Due: eslint, typescript, prettier, vitest

Add Redis-backed tool caching
  docker-compose.yml
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/cli/cache.py
  redis_sre_agent/cli/main.py
  redis_sre_agent/core/config.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/tools/cache.py
  redis_sre_agent/tools/manager.py
  redis_sre_agent/tools/protocols.py
  scripts/benchmark_cache.sh
  tests/unit/cli/test_cli_cache.py
  tests/unit/tools/test_tool_cache.py
Due: none

Add MCP connection pooling
  redis_sre_agent/api/app.py
  redis_sre_agent/cli/query.py
  redis_sre_agent/tools/mcp/pool.py
  redis_sre_agent/tools/mcp/provider.py
  tests/unit/api/test_app.py
Due: none

Format code
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/cli/cache.py
  redis_sre_agent/tools/cache.py
  redis_sre_agent/tools/manager.py
  redis_sre_agent/tools/mcp/pool.py
  redis_sre_agent/tools/protocols.py
  tests/unit/tools/test_tool_cache.py
Due: none
