Repository redis-applied-ai/redis-sre-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, vitest, package-json-sorting

.pre-commit-config.yaml:

repos:
  # General file formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: 'tsconfig\.json$'
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

  # TypeScript type checking
  - repo: local
    hooks:
      - id: typescript
        name: TypeScript Check
        entry: npm run typecheck
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Prettier formatting
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npm run format:check
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # Run tests on staged files
  - repo: local
    hooks:
      - id: vitest
        name: Vitest
        entry: npm run test
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Package.json validation
  - repo: local
    hooks:
      - id: package-json-sorting
        name: Sort package.json
        entry: npx sort-package-json
        language: system
        files: package\.json$

  # Security checks
  - repo: local
    hooks:
      - id: audit
        name: npm audit
        entry: npm audit --audit-level=moderate
        language: system
        pass_filenames: false
        stages: [manual]

feat(docs): add Python API reference via mkdocstrings
  docs/api/python/agent.md
  docs/api/python/api.md
  docs/api/python/cli.md
  docs/api/python/core.md
  docs/api/python/evaluation.md
  docs/api/python/index.md
  docs/api/python/mcp_server.md
  docs/api/python/observability.md
  docs/api/python/pipelines.md
  docs/api/python/skills.md
  docs/api/python/targets.md
  docs/api/python/tools.md
  mkdocs.yml
Due: prettier

feat(docs): rewrite landing page and update README links
  README.md
  docs/index.md
Due: prettier

chore(docs): enable extended markdown extensions and hot-reload watch
  mkdocs.yml
Due: none

docs: restore web UI and secret encryption guides
  docs/user_guide/how_to_guides/operations/encryption.md
  docs/user_guide/how_to_guides/ui.md
  mkdocs.yml
Due: prettier

feat(docs): apply Redis brand styling and assets
  docs/assets/favicon.png
  docs/assets/redis-ai-hub/redis-ai-hub-config.js
  docs/assets/redis-ai-hub/redis-ai-hub-header.css
  docs/assets/redis-ai-hub/redis-ai-hub-header.js
  docs/assets/redis-logo-script-red.svg
  docs/assets/redis-logo-script.svg
  docs/stylesheets/redis-brand.css
  mkdocs.yml
Due: eslint, prettier

refactor(docs): reorganize pages into Diátaxis IA
  docs/api/cli_ref.md
  docs/api/configuration.md
  docs/api/rest_api.md
  docs/concepts/core.md
  docs/how-to/configuration/encryption.md
  docs/ui/experimental.md
  docs/user_guide/01_local_quickstart.md
  docs/user_guide/02_end_to_end.md
  docs/user_guide/03_vm_deployment.md
  docs/user_guide/how_to_guides/agent_memory_integration.md
  docs/user_guide/how_to_guides/api_workflows.md
  docs/user_guide/how_to_guides/cli_workflows.md
  docs/user_guide/how_to_guides/configuration.md
  docs/user_guide/how_to_guides/connect_to_redis.md
  docs/user_guide/how_to_guides/evals.md
  docs/user_guide/how_to_guides/local_dev.md
  docs/user_guide/how_to_guides/operations/airgap.md
  docs/user_guide/how_to_guides/operations/docker_deployment.md
  docs/user_guide/how_to_guides/operations/gotchas.md
  docs/user_guide/how_to_guides/operations/observability.md
  docs/user_guide/how_to_guides/pipelines.md
  docs/user_guide/how_to_guides/release_tutorials/v0_2_8.md
  docs/user_guide/how_to_guides/scheduling.md
  docs/user_guide/how_to_guides/source_documents.md
  docs/user_guide/how_to_guides/tool_providers.md
  docs/user_guide/resources/data-proc.png
  docs/user_guide/resources/docker.png
  docs/user_guide/resources/scrape.png
  docs/user_guide/resources/ui.png
  mkdocs.yml
Due: prettier

Avoid shared structured wrappers
  redis_sre_agent/agent/subgraphs/recommendation_worker.py
  redis_sre_agent/agent/subgraphs/safety_fact_corrector.py
  tests/unit/agent/test_fact_check_prompt_additional.py
  tests/unit/agent/test_recommendation_worker.py
Due: none

fix(docs): load Mermaid runtime so diagram fences render
  mkdocs.yml
Due: none

build(docs): include docs group in uv default-groups
  pyproject.toml
Due: none

style(docs): apply ruff format to generate_reference_docs.py
  scripts/generate_reference_docs.py
Due: none

fix(docs): drop leaf commands from CLI 'Command groups' table
  docs/api/cli_ref.md
  scripts/generate_reference_docs.py
Due: prettier

docs(llms): replace llms.txt placeholders with real index
  docs/llms.txt
Due: none

docs(ai-guides): replace Sphinx references with MkDocs equivalents
  docs/for-ais-only/BUILD_AND_TEST.md
  docs/for-ais-only/FAILURE_MODES.md
Due: prettier

Write referenced_assets in attach_target_matches for all target resolution paths
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/targets.py
Due: none

Fix latest Bugbot findings
  redis_sre_agent/agent/subgraphs/recommendation_worker.py
  redis_sre_agent/agent/subgraphs/safety_fact_corrector.py
  redis_sre_agent/core/default_pii_remediator.py
  tests/unit/agent/test_fact_check_prompt_additional.py
  tests/unit/agent/test_recommendation_worker.py
  tests/unit/core/test_pii_remediation.py
Due: none

Avoid redundant tool rebinding
  redis_sre_agent/agent/subgraphs/recommendation_worker.py
  redis_sre_agent/agent/subgraphs/safety_fact_corrector.py
  tests/unit/agent/test_fact_check_prompt_additional.py
  tests/unit/agent/test_recommendation_worker.py
Due: none

Fix CI: defensive None thread guard in attach_target_matches
  redis_sre_agent/api/memory.py
  redis_sre_agent/core/targets.py
  tests/unit/core/test_agent_memory.py
  tests/unit/core/test_targets.py
Due: none

Address review: dedupe referenced_assets write, anchor paginated list fallback, capture first-person prefs
  redis_sre_agent/api/memory.py
  redis_sre_agent/core/agent_memory.py
  redis_sre_agent/core/docket_tasks.py
  tests/unit/core/test_agent_memory.py
Due: none

Address review: report unadjusted AMS total for filtered asset search
  redis_sre_agent/core/agent_memory.py
  tests/unit/core/test_agent_memory.py
Due: none

Address review: per-scope asset pagination via asset_instance_id/asset_cluster_id
  redis_sre_agent/api/memory.py
  ui/src/components/MemoryPanel.tsx
  ui/src/services/sreAgentApi.ts
Due: eslint, typescript, prettier, vitest

Add Memory side panel and fix asset-scope filtering (#167)
  .gitignore
  docs/how-to/agent-memory-server-integration.md
  docs/reference/api.md
  evals/goldens/prompt/memory-asset-incident-context/assertions.json
  evals/goldens/prompt/memory-asset-incident-context/expected.md
  evals/goldens/prompt/memory-asset-incident-context/metadata.yaml
  evals/goldens/prompt/memory-user-preference-honored/assertions.json
  evals/goldens/prompt/memory-user-preference-honored/expected.md
  evals/goldens/prompt/memory-user-preference-honored/metadata.yaml
  evals/scenarios/prompt/memory-asset-incident-context/scenario.yaml
  evals/scenarios/prompt/memory-user-preference-honored/scenario.yaml
  redis_sre_agent/api/app.py
  redis_sre_agent/api/memory.py
  redis_sre_agent/core/agent_memory.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/targets.py
  redis_sre_agent/evaluation/agent_only.py
  redis_sre_agent/evaluation/fake_memory.py
  redis_sre_agent/evaluation/runtime.py
  redis_sre_agent/evaluation/scenarios.py
  tests/unit/core/test_agent_memory.py
  tests/unit/core/test_targets.py
  tests/unit/evaluation/test_memory_scenarios.py
  tests/unit/evaluation/test_prompt_scenarios.py
  tests/unit/evaluation/test_scenarios.py
  ui/src/components/MemoryPanel.tsx
  ui/src/pages/Triage.tsx
  ui/src/services/sreAgentApi.ts
Due: eslint, typescript, prettier, vitest

fix(startup): show skill title in toc
  redis_sre_agent/agent/knowledge_context.py
  tests/unit/agent/test_knowledge_context.py
Due: none

Share tool binding helper
  redis_sre_agent/agent/helpers.py
  redis_sre_agent/agent/subgraphs/recommendation_worker.py
  redis_sre_agent/agent/subgraphs/safety_fact_corrector.py
Due: none

Fix ruff formatting
  redis_sre_agent/agent/subgraphs/recommendation_worker.py
  redis_sre_agent/agent/subgraphs/safety_fact_corrector.py
Due: none

Stabilize memo and factory failures
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/agent/subgraphs/recommendation_worker.py
  redis_sre_agent/agent/subgraphs/safety_fact_corrector.py
  redis_sre_agent/core/llm_request_guard.py
  redis_sre_agent/core/pii_remediation.py
  tests/unit/agent/test_fact_check_prompt_additional.py
  tests/unit/core/test_pii_remediation.py
Due: none

Scope llm cache traversal
  redis_sre_agent/agent/langgraph_agent.py
Due: none

Isolate pii worker thread
  redis_sre_agent/core/default_pii_remediator.py
  redis_sre_agent/core/llm_request_guard.py
  tests/unit/agent/test_fact_check_prompt_additional.py
Due: none

Preserve guard reasons and reuse messages
  redis_sre_agent/core/llm_request_guard.py
  tests/unit/core/test_llm_request_guard.py
Due: none

Scan clipped blocks in detect mode
  redis_sre_agent/core/llm_request_guard.py
  tests/unit/core/test_llm_request_guard.py
Due: none

fix(skills): cap startup toc and expose search types
  redis_sre_agent/cli/skills.py
  redis_sre_agent/core/config.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/core/runtime_overrides.py
  redis_sre_agent/evaluation/knowledge_backend.py
  redis_sre_agent/mcp_server/server.py
  redis_sre_agent/skills/afs_workspace_backend.py
  redis_sre_agent/skills/backend.py
  redis_sre_agent/tools/knowledge/knowledge_base.py
  tests/unit/agent/test_knowledge_context.py
  tests/unit/core/test_knowledge_helpers.py
  tests/unit/evaluation/test_knowledge_backend_agent_skills.py
  tests/unit/mcp_server/test_mcp_server.py
  tests/unit/skills/test_afs_workspace_backend.py
  tests/unit/skills/test_backend.py
Due: none

Unify guard block handling
  redis_sre_agent/core/llm_request_guard.py
  tests/unit/core/test_llm_request_guard.py
Due: none

Tighten PII remediator safeguards
  .env.example
  redis_sre_agent/core/config.py
  redis_sre_agent/core/default_pii_remediator.py
  redis_sre_agent/core/pii_remediation.py
  specs/pii-remediation-hook-spec.md
  tests/unit/core/test_pii_remediation.py
Due: prettier

Fix startup skills count
  redis_sre_agent/agent/knowledge_context.py
  tests/unit/agent/test_knowledge_context.py
Due: none

Drop dead skills arg
  redis_sre_agent/agent/knowledge_context.py
Due: none

Cover default redis startup path
  tests/unit/agent/test_knowledge_context.py
Due: none

fix(skills): add search contract plumbing
  redis_sre_agent/skills/afs_workspace_backend.py
  redis_sre_agent/skills/backend.py
  redis_sre_agent/skills/contracts.py
  redis_sre_agent/skills/discovery.py
  redis_sre_agent/skills/scaffold.py
  redis_sre_agent/tools/knowledge/knowledge_base.py
  tests/unit/evaluation/test_knowledge_backend_agent_skills.py
  tests/unit/skills/test_discovery.py
Due: none

test(evals): extend contract coverage
  redis_sre_agent/evaluation/assertions.py
  redis_sre_agent/evaluation/knowledge_backend.py
  redis_sre_agent/evaluation/live_suite/__init__.py
  redis_sre_agent/evaluation/report_schema.py
  redis_sre_agent/evaluation/scenarios.py
  tests/unit/evaluation/test_assertions.py
  tests/unit/evaluation/test_live_suite.py
  tests/unit/evaluation/test_prompt_scenarios.py
  tests/unit/evaluation/test_report_schema.py
  tests/unit/evaluation/test_scenarios.py
Due: none

test(evals): add cluster health corpus
  evals/corpora/prompt-core/2026-04-14/skills/redis-cluster-health-check/SKILL.md
  evals/corpora/prompt-core/2026-04-14/skills/redis-cluster-health-check/agents/openai.yaml
  evals/goldens/prompt/cluster-health-skill-adherence/assertions.json
  evals/goldens/prompt/cluster-health-skill-adherence/expected.md
  evals/goldens/prompt/cluster-health-skill-adherence/metadata.yaml
  evals/scenarios/prompt/cluster-health-skill-adherence/fixtures/tools/analyzer-get-database-commands-orders.json
  evals/scenarios/prompt/cluster-health-skill-adherence/fixtures/tools/analyzer-get-database-slowlog-orders.json
  evals/scenarios/prompt/cluster-health-skill-adherence/fixtures/tools/analyzer-get-package-alerts.json
  evals/scenarios/prompt/cluster-health-skill-adherence/fixtures/tools/analyzer-get-package-databases.json
  evals/scenarios/prompt/cluster-health-skill-adherence/fixtures/tools/analyzer-get-package-events.json
  evals/scenarios/prompt/cluster-health-skill-adherence/fixtures/tools/analyzer-get-package-health-checks.json
  evals/scenarios/prompt/cluster-health-skill-adherence/fixtures/tools/analyzer-get-package-nodes.json
  evals/scenarios/prompt/cluster-health-skill-adherence/fixtures/tools/analyzer-get-package-overview.json
  evals/scenarios/prompt/cluster-health-skill-adherence/fixtures/tools/analyzer-get-package-time-series-cluster.json
  evals/scenarios/prompt/cluster-health-skill-adherence/fixtures/tools/analyzer-get-package-time-series-node.json
  evals/scenarios/prompt/cluster-health-skill-adherence/fixtures/tools/analyzer-get-package-topology.json
  evals/scenarios/prompt/cluster-health-skill-adherence/fixtures/tools/analyzer-get-package.json
  evals/scenarios/prompt/cluster-health-skill-adherence/scenario.yaml
  evals/suites/cluster-health-skill-adherence.yaml
Due: prettier, package-json-sorting

fix(agent): enforce skill contracts
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/prompts.py
  tests/unit/agent/test_chat_agent.py
Due: none

Make vectorizer creation configurable
  .env.example
  docs/how-to/configuration.md
  docs/reference/configuration.md
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/agent/runbook_generator.py
  redis_sre_agent/core/config.py
  redis_sre_agent/core/redis.py
  redis_sre_agent/core/vectorizer_helpers.py
  specs/vectorizer-factory-configuration-spec.md
  tests/unit/core/test_redis.py
  tests/unit/core/test_vectorizer_helpers.py
Due: prettier
