Repository redis-applied-ai/redis-sre-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, vitest, package-json-sorting

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

vitest:
  name: Vitest
  entry: npm run test
  language: system
  pass_filenames: false

package-json-sorting:
  name: Sort package.json
  entry: npx sort-package-json
  language: system

docs: improve expand_evidence tool description for LLM clarity
  redis_sre_agent/agent/chat_agent.py
Due: none

feat: summarize large tool outputs for LLM with expand_evidence hints
  redis_sre_agent/agent/chat_agent.py
  tests/unit/agent/test_chat_agent.py
Due: none

feat: improve summarized tool message for LLM clarity
  redis_sre_agent/agent/chat_agent.py
  tests/unit/agent/test_chat_agent.py
Due: none

Fix tool_envelopes lost in safety/fact-checker path and show full message IDs
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/helpers.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/cli/threads.py
  tests/unit/agent/test_extract_citations.py
  tests/unit/agent/test_query_tool_data.py
  tests/unit/cli/test_cli_threads.py
Due: none

Fix knowledge agent to build tool envelopes for decision traces
  redis_sre_agent/agent/knowledge_agent.py
Due: none

Format knowledge_agent.py
  redis_sre_agent/agent/knowledge_agent.py
Due: none

feat: added tests to ensure forced tool choice on first run and not subsequent runs
  tests/unit/agent/test_knowledge_agent.py
Due: none

Fix message_id preservation in append_messages for decision traces
  pyproject.toml
  redis_sre_agent/core/threads.py
  tests/unit/core/test_message_traces.py
  uv.lock
Due: none

Format threads.py
  redis_sre_agent/core/threads.py
Due: none

Capture all tool calls to use as deterministic citations (#73)
  docs/reference/cli.md
  pyproject.toml
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/helpers.py
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/agent/models.py
  redis_sre_agent/cli/query.py
  redis_sre_agent/cli/tasks.py
  redis_sre_agent/cli/threads.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/keys.py
  redis_sre_agent/core/tasks.py
  redis_sre_agent/core/threads.py
  tests/unit/agent/test_chat_agent.py
  tests/unit/agent/test_envelope_summarization.py
  tests/unit/agent/test_extract_citations.py
  tests/unit/agent/test_progress_callback_validation.py
  tests/unit/agent/test_query_tool_data.py
  tests/unit/api/test_instances_api.py
  tests/unit/api/test_websockets.py
  tests/unit/cli/test_cli_threads.py
  tests/unit/core/test_message_traces.py
  tests/unit/core/test_thread_management.py
  tests/unit/tools/test_manager.py
  uv.lock
Due: prettier

Fix version to 0.2.7
  pyproject.toml
  uv.lock
Due: none

tests: added support for bind for test FakeLLM
  tests/unit/agent/test_knowledge_agent.py
  tests/unit/agent/test_knowledge_agent_sources.py
Due: none

Force tool call on first turn in knowledge agent (#76)
  redis_sre_agent/agent/knowledge_agent.py
  tests/unit/agent/test_knowledge_agent.py
  tests/unit/agent/test_knowledge_agent_sources.py
Due: none

docs: document thread citation tracing workflow
  docs/how-to/cli.md
Due: prettier

Improve version filtering and async client factories with full diff coverage
  .env.example
  redis_sre_agent/core/config.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/core/llm_helpers.py
  redis_sre_agent/core/threads.py
  redis_sre_agent/pipelines/enrichment/document_enricher.py
  redis_sre_agent/pipelines/scraper/redis_docs_local.py
  redis_sre_agent/pipelines/scraper/runbook_generator.py
  tests/unit/core/test_knowledge_helpers.py
  tests/unit/core/test_llm_helpers.py
  tests/unit/core/test_thread_management.py
  tests/unit/pipelines/enrichment/test_document_enricher.py
  tests/unit/pipelines/scraper/test_redis_docs_local.py
  tests/unit/pipelines/scraper/test_runbook_generator.py
Due: none

Document Redis connection setup and avoid pytest import collisions
  docs/how-to/connect-to-redis.md
  mkdocs.yml
  pytest.ini
Due: prettier

Normalize formatting to keep checks consistent
  redis_sre_agent/core/knowledge_helpers.py
  tests/unit/pipelines/scraper/test_redis_docs_local.py
Due: none

docs: document citation tracing via thread get/trace, establishing Redis connections (#78)
  .env.example
  docs/how-to/cli.md
  docs/how-to/connect-to-redis.md
  mkdocs.yml
  pytest.ini
  redis_sre_agent/core/config.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/core/llm_helpers.py
  redis_sre_agent/core/threads.py
  redis_sre_agent/pipelines/enrichment/document_enricher.py
  redis_sre_agent/pipelines/scraper/redis_docs_local.py
  redis_sre_agent/pipelines/scraper/runbook_generator.py
  tests/unit/core/test_knowledge_helpers.py
  tests/unit/core/test_llm_helpers.py
  tests/unit/core/test_thread_management.py
  tests/unit/pipelines/enrichment/test_document_enricher.py
  tests/unit/pipelines/scraper/test_redis_docs_local.py
  tests/unit/pipelines/scraper/test_runbook_generator.py
Due: prettier

Keep knowledge document types queryable end-to-end
  docker-compose.enterprise.yml
  redis_sre_agent/api/knowledge.py
  redis_sre_agent/cli/knowledge.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/core/redis.py
  redis_sre_agent/mcp_server/server.py
  redis_sre_agent/pipelines/ingestion/deduplication.py
  redis_sre_agent/pipelines/ingestion/processor.py
  redis_sre_agent/pipelines/scraper/base.py
  redis_sre_agent/tools/knowledge/knowledge_base.py
  tests/unit/api/test_knowledge_api.py
  tests/unit/core/test_knowledge_helpers.py
  tests/unit/core/test_tasks.py
  tests/unit/pipelines/ingestion/test_ingestion_processor.py
  tests/unit/tools/knowledge/test_knowledge_base.py
Due: none

Enforce canonical doc_type front matter
  redis_sre_agent/pipelines/ingestion/processor.py
  redis_sre_agent/pipelines/scraper/base.py
  tests/unit/pipelines/ingestion/test_ingestion_processor.py
Due: none

Add deterministic skill discovery and retrieval tools
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/tools/knowledge/knowledge_base.py
  tests/unit/agent/test_knowledge_agent.py
  tests/unit/core/test_knowledge_helpers.py
  tests/unit/tools/knowledge/test_knowledge_base.py
  tests/unit/tools/test_manager.py
Due: none

Document config options better
  docs/reference/configuration.md
Due: prettier

Enforce ADR retrieval boundaries for skills, pinned docs, and tickets
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/agent/knowledge_context.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/core/redis.py
  redis_sre_agent/pipelines/ingestion/deduplication.py
  redis_sre_agent/pipelines/ingestion/processor.py
  redis_sre_agent/pipelines/scraper/base.py
  redis_sre_agent/tools/knowledge/knowledge_base.py
  tests/unit/agent/test_knowledge_agent.py
  tests/unit/core/test_knowledge_helpers.py
  tests/unit/pipelines/ingestion/test_ingestion_processor.py
  tests/unit/tools/knowledge/test_knowledge_base.py
  tests/unit/tools/test_manager.py
Due: none

Use separate indexes for skills and support tickets
  redis_sre_agent/api/knowledge.py
  redis_sre_agent/cli/index.py
  redis_sre_agent/cli/knowledge.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/core/redis.py
  redis_sre_agent/mcp_server/server.py
  redis_sre_agent/pipelines/ingestion/deduplication.py
  redis_sre_agent/pipelines/ingestion/processor.py
  redis_sre_agent/tools/knowledge/knowledge_base.py
  tests/unit/api/test_knowledge_api.py
  tests/unit/cli/test_cli_index.py
  tests/unit/core/test_knowledge_helpers.py
  tests/unit/core/test_redis.py
  tests/unit/core/test_tasks.py
  tests/unit/pipelines/ingestion/test_ingestion_processor.py
Due: none

remove legacy document_type and align tool routing
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/agent/knowledge_context.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/api/knowledge.py
  redis_sre_agent/core/docket_tasks.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/mcp_server/server.py
  redis_sre_agent/pipelines/ingestion/processor.py
  redis_sre_agent/pipelines/scraper/base.py
  redis_sre_agent/tools/knowledge/knowledge_base.py
  tests/unit/api/test_knowledge_api.py
  tests/unit/core/test_knowledge_helpers.py
  tests/unit/core/test_tasks.py
  tests/unit/pipelines/ingestion/test_ingestion_processor.py
  tests/unit/tools/knowledge/test_knowledge_base.py
Due: none

Expose support-ticket MCP tools and preserve frontmatter precedence
  redis_sre_agent/mcp_server/__init__.py
  redis_sre_agent/mcp_server/server.py
  redis_sre_agent/pipelines/ingestion/processor.py
  tests/unit/mcp_server/test_mcp_server.py
  tests/unit/pipelines/ingestion/test_ingestion_processor.py
Due: none

Keep version-aware fragment filtering reliable
  redis_sre_agent/core/knowledge_helpers.py
  tests/unit/core/test_knowledge_helpers.py
Due: none

feat: RedisCluster added with migration script and relevant tests
  docs/how-to/api.md
  docs/redis-cluster-instance-split-implementation-plan.md
  docs/reference/api.md
  docs/reference/cli.md
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/api/app.py
  redis_sre_agent/api/clusters.py
  redis_sre_agent/api/instances.py
  redis_sre_agent/cli/cluster.py
  redis_sre_agent/cli/instance.py
  redis_sre_agent/cli/main.py
  redis_sre_agent/cli/worker.py
  redis_sre_agent/core/clusters.py
  redis_sre_agent/core/instances.py
  redis_sre_agent/core/migrations/__init__.py
  redis_sre_agent/core/migrations/instances_to_clusters.py
  redis_sre_agent/core/redis.py
  redis_sre_agent/tools/admin/redis_enterprise/provider.py
  redis_sre_agent/tools/manager.py
  scripts/migrate_instances_to_clusters.py
  tests/unit/api/test_app.py
  tests/unit/api/test_clusters_api.py
  tests/unit/api/test_instances_api.py
  tests/unit/cli/test_cli_clusters.py
  tests/unit/cli/test_cli_instances.py
  tests/unit/core/test_cluster_model.py
  tests/unit/core/test_cluster_storage.py
  tests/unit/core/test_instance_manager.py
  tests/unit/core/test_instances_to_clusters_migration.py
  tests/unit/core/test_redis.py
  tests/unit/tools/test_manager.py
  ui/src/pages/Instances.tsx
  ui/src/services/sreAgentApi.ts
Due: eslint, typescript, prettier, vitest

fix: working enterprise dsetup docker compose
  docker-compose.enterprise.yml
Due: none

Unify agent startup context and support-ticket guidance
  config.yaml.example
  redis_sre_agent/agent/chat_agent.py
  redis_sre_agent/agent/knowledge_agent.py
  redis_sre_agent/agent/knowledge_context.py
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/agent/prompts.py
  redis_sre_agent/core/knowledge_helpers.py
  redis_sre_agent/core/threads.py
  redis_sre_agent/tools/manager.py
  tests/unit/agent/test_agent.py
  tests/unit/agent/test_chat_agent.py
  tests/unit/agent/test_knowledge_agent.py
  tests/unit/agent/test_support_ticket_prompt_guidance.py
  tests/unit/core/test_knowledge_helpers.py
  tests/unit/core/test_thread_management.py
  tests/unit/tools/test_manager.py
Due: none

Fix lint import ordering in knowledge helper tests
  tests/unit/core/test_knowledge_helpers.py
Due: none

fix: fixed tests and client shutdown issue
  pytest.ini
  redis_sre_agent/core/migrations/instances_to_clusters.py
  redis_sre_agent/tools/cloud/redis_cloud/provider.py
  scripts/setup_redis_enterprise_cluster.sh
  tests/unit/core/test_config.py
  tests/unit/core/test_instances_to_clusters_migration.py
Due: none

fix: docs updated based on new api reference
  docs/reference/api.md
Due: prettier

lint: ruff
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/api/clusters.py
  redis_sre_agent/api/instances.py
  redis_sre_agent/cli/instance.py
  redis_sre_agent/cli/worker.py
  redis_sre_agent/core/clusters.py
  redis_sre_agent/core/instances.py
  redis_sre_agent/core/migrations/__init__.py
  redis_sre_agent/core/migrations/instances_to_clusters.py
  redis_sre_agent/tools/cloud/redis_cloud/provider.py
  scripts/migrate_instances_to_clusters.py
  tests/unit/core/test_cluster_model.py
  tests/unit/core/test_instances_to_clusters_migration.py
Due: none

lint: ruff fix
  redis_sre_agent/api/instances.py
  tests/unit/core/test_redis.py
Due: none

Document front matter, pinned docs, skills, and tickets
  docs/how-to/pipelines.md
  docs/how-to/source-document-features.md
  mkdocs.yml
Due: prettier

fix: revalidation
  redis_sre_agent/api/clusters.py
  tests/unit/api/test_clusters_api.py
  tests/unit/api/test_instances_api.py
Due: none

Split RedisCluster from RedisInstance (#81)
  docker-compose.enterprise.yml
  docs/how-to/api.md
  docs/redis-cluster-instance-split-implementation-plan.md
  docs/reference/api.md
  docs/reference/cli.md
  redis_sre_agent/agent/langgraph_agent.py
  redis_sre_agent/api/app.py
  redis_sre_agent/api/clusters.py
  redis_sre_agent/api/instances.py
  redis_sre_agent/cli/cluster.py
  redis_sre_agent/cli/instance.py
  redis_sre_agent/cli/main.py
  redis_sre_agent/cli/worker.py
  redis_sre_agent/core/clusters.py
  redis_sre_agent/core/instances.py
  redis_sre_agent/core/migrations/__init__.py
  redis_sre_agent/core/migrations/instances_to_clusters.py
  redis_sre_agent/core/redis.py
  redis_sre_agent/tools/admin/redis_enterprise/provider.py
  redis_sre_agent/tools/cloud/redis_cloud/provider.py
  redis_sre_agent/tools/manager.py
  scripts/migrate_instances_to_clusters.py
  scripts/setup_redis_enterprise_cluster.sh
  tests/unit/api/test_app.py
  tests/unit/api/test_clusters_api.py
  tests/unit/api/test_instances_api.py
  tests/unit/cli/test_cli_clusters.py
  tests/unit/cli/test_cli_instances.py
  tests/unit/core/test_cluster_model.py
  tests/unit/core/test_cluster_storage.py
  tests/unit/core/test_config.py
  tests/unit/core/test_instance_manager.py
  tests/unit/core/test_instances_to_clusters_migration.py
  tests/unit/core/test_redis.py
  tests/unit/tools/test_manager.py
  ui/src/pages/Instances.tsx
  ui/src/services/sreAgentApi.ts
Due: eslint, typescript, prettier, vitest

Fix review issues in knowledge tool routing and defaults
  docker-compose.enterprise.yml
  redis_sre_agent/mcp_server/server.py
  redis_sre_agent/tools/knowledge/knowledge_base.py
  tests/unit/mcp_server/test_mcp_server.py
  tests/unit/tools/knowledge/test_knowledge_base.py
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
  vitest: any of: \.(ts|tsx)$
  package-json-sorting: any of: package\.json$
